workflows/fsfDp1w3rN9DwRzw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter: Exclude archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Build: Completion message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Exclude archived": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Completion message": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-20T20:55:07.956Z",
  "id": "fsfDp1w3rN9DwRzw",
  "isArchived": true,
  "meta": null,
  "name": "Workflow Backup",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {},
      "id": "e21c978c-75bb-4442-b1e7-d673d05e1162",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        176,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 732,
        "width": 2199,
        "color": 6
      },
      "id": "ef782e67-bb4e-4e7e-9b11-eb4cd0410998",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ddc32ba9-691a-4dda-9fe6-69c6de7ccbd6",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        32,
        1312
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "3cac3d6c-7e00-48fc-a592-4390cce8ddaa",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        368,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "21b13e86-b692-444e-b051-e71efa6f4d32",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        1280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "9d7051b3-d90d-4085-b416-b72d3748da1a",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        1152
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "52a6ce8a-100a-4a1b-9c8e-116b7a71d56c",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        1312
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "e495a708-1ba7-4a28-a9ac-6f77eeb1343d",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        912,
        1344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\nconst inputJson = $input.item.json;\nconst keys = Object.keys(inputJson);\n\n// Check if file returned with content\nif (keys.includes(\"content\")) {\n  const origWorkflow = JSON.parse(Buffer.from(inputJson.content, 'base64').toString());\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else if (keys.includes(\"data\")) {\n  const origWorkflow = JSON.parse(inputJson.data);\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else {\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = null;\n  inputJson.github_status = \"new\";\n  inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\nreturn { json: inputJson };"
      },
      "id": "a5447fc5-75c5-4cdf-a3ef-3024f49eaee6",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1088,
        1344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "106468a4-8348-4624-bd58-7d19b21cb04a",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1440,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f027dd54-9dc0-4376-b983-d20a861a85fd",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "af64a5a3-3cbe-4ac8-92b2-87d57a8694ba",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1328
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c4d6ba82-9b72-43ea-ae02-183fc6e35bfe",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_name }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "a120b511-978e-48c8-b16e-d11677845b68",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        1520
      ],
      "typeVersion": 1.1,
      "webhookId": "6d00f1bc-b78a-4b4a-8b26-44c71c643747"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_name }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "091564f5-30bd-421d-927e-c88110da9777",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        1328
      ],
      "typeVersion": 1.1,
      "webhookId": "c165ac57-3fc5-4c3d-aa6a-9ecf6d006823"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "139ea008-110a-4254-9eea-46fe3f79012f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        736,
        688
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "cd44f86a-392f-4d37-aac8-6d7cf7466c7e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        176,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[0] }}/{{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "45a89d59-67a4-4d77-a5c0-ca41c607187e",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        1264,
        1344
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 449,
        "width": 385,
        "color": 4
      },
      "id": "638112d8-8878-4385-98e0-440c86cedaf8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 448,
        "width": 2201,
        "color": 7
      },
      "id": "03810f4a-2d98-4042-9ea7-ce5c2e57c48c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "a70a52da-e26f-4a17-93ba-59dbd026b1f4",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1104,
        752
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default90513a2c7a3648c78b80f20fcc7953.74.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b5295696fb454c19bdc47ad0b48e690e/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YbfKLVs-S6BVLykG6mSTseA63Zc9mHFMVoTBfOxxac8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cardJson }}",
        "options": {}
      },
      "id": "f21b76bc-8fee-4b6d-b456-e9b4b4684cee",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        320
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 4.4,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Accumulate failed workflow names across loop iterations using staticData\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.failedFlows)) {\n  staticData.failedFlows = [];\n}\n\nconst failedId   = $('Loop Over Items').item.json.id   ?? 'Unknown ID';\nconst failedName = $('Loop Over Items').item.json.name ?? 'Unknown Workflow';\nstaticData.failedFlows.push(`${failedName} (${failedId})`);\n\nreturn [{ json: { failedId, failedName } }];"
      },
      "id": "20d686ff-6965-47fb-b6f8-a3a3691c3941",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.code",
      "position": [
        1296,
        768
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}",
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}",
          "cachedResultName": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d7cfe35a-06f7-4847-9ebb-7be3e0cbfadf",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        352,
        1312
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "webhookId": "d45437a9-98a5-4c98-91ac-52f6cc813726",
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "jcfrazier6"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c5a71d7e-74d1-42f0-b286-727106e17140",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        192,
        1312
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "not-archived",
              "leftValue": "={{ $json.isArchived }}",
              "operator": {
                "operation": "false",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "8aa91074-94fc-416a-bf62-0680347c670b",
      "name": "Filter: Exclude archived",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        528,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst totalCount = $('Filter: Exclude archived').all().length;\nconst failed = Array.isArray(staticData.failedFlows) ? staticData.failedFlows : [];\nconst dateStr = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n// Build Adaptive Card for Teams\nconst bodyBlocks = [\n  {\n    type: 'TextBlock',\n    text: `✅ Backup completed — ${totalCount} workflows processed.`,\n    wrap: true,\n    size: 'Medium',\n    weight: 'Bolder',\n    color: 'Good'\n  }\n];\n\nif (failed.length > 0) {\n  bodyBlocks.push({ type: 'TextBlock', text: `❌ Failed (${failed.length}):`, wrap: true, weight: 'Bolder', color: 'Attention' });\n  bodyBlocks.push({ type: 'TextBlock', text: failed.join('\\n'), wrap: true, color: 'Attention' });\n}\n\nconst card = {\n  type: 'AdaptiveCard',\n  '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json',\n  version: '1.4',\n  body: bodyBlocks\n};\n\n// Build HTML email body\nconst statusColor = failed.length > 0 ? '#c0392b' : '#27ae60';\nconst statusIcon  = failed.length > 0 ? '⚠️' : '✅';\nconst statusText  = failed.length > 0\n  ? `Completed with ${failed.length} failure${failed.length > 1 ? 's' : ''}`\n  : 'Completed successfully';\n\nlet failureRows = '';\nif (failed.length > 0) {\n  failureRows = `\n    <tr>\n      <td colspan=\"2\" style=\"padding:16px 24px 4px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">❌ Failed Workflows</td>\n    </tr>\n    ${failed.map(f => `\n    <tr>\n      <td colspan=\"2\" style=\"padding:2px 24px 2px 36px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">• ${f}</td>\n    </tr>`).join('')}\n  `;\n}\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,0.08);overflow:hidden;\">\n          <tr>\n            <td colspan=\"2\" style=\"background:${statusColor};padding:20px 24px;\">\n              <span style=\"font-family:Arial,sans-serif;font-size:18px;font-weight:bold;color:#ffffff;\">${statusIcon} n8n Workflow Backup</span>\n            </td>\n          </tr>\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px 8px;font-family:Arial,sans-serif;font-size:12px;color:#888;border-bottom:1px solid #eeeeee;\">${dateStr}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;width:50%;\">Status</td>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:${statusColor};\">${statusText}</td>\n          </tr>\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Workflows processed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#333;\">${totalCount}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Successful</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#27ae60;\">${totalCount - failed.length}</td>\n          </tr>\n          ${failed.length > 0 ? `\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Failed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">${failed.length}</td>\n          </tr>` : ''}\n          ${failureRows}\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px;background:#f4f4f4;font-family:Arial,sans-serif;font-size:11px;color:#aaa;border-top:1px solid #eeeeee;\">Sent by n8n Workflow Backup · Automated message</td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nstaticData.failedFlows = [];\n\nreturn [{ json: { cardJson: JSON.stringify(card), htmlBody, dateStr, totalCount, failedCount: failed.length } }];"
      },
      "id": "38e07dcd-e9f6-4187-b5e6-7fdad52ed70e",
      "name": "Build: Completion message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        576
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "cfrazier@michaelgraves.com",
        "subject": "=n8n Workflow Backup — {{ $json.dateStr }}",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "f53c98ad-aa2e-4c20-a07f-fffd3f4df62f",
      "name": "Send an Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1280,
        576
      ],
      "webhookId": "aeaddb8c-d63c-4223-9a55-32dc16a01536"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-20T20:55:07.956Z",
      "createdAt": "2026-07-20T20:55:07.956Z",
      "role": "workflow:owner",
      "workflowId": "fsfDp1w3rN9DwRzw",
      "projectId": "E8Q15E4CGDUTSfyO"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-20T20:56:05.697Z",
  "versionId": "b3af97e9-ea9a-450a-8eed-23c0fc6b020a"
}