workflows/nSzilnoKaarQ63cQ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Email Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Input": {
      "main": [
        [
          {
            "node": "Check Users (All Types)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Users (All Types)": {
      "main": [
        [
          {
            "node": "Consolidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License Availability": {
      "main": [
        [
          {
            "node": "Evaluate License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate License": {
      "main": [
        [
          {
            "node": "License Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "License Available?": {
      "main": [
        [
          {
            "node": "Set Email Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin - No License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - No License": {
      "main": [
        [
          {
            "node": "Set Email Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "Account Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Input1": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Exists?": {
      "main": [
        [
          {
            "node": "Get Mailbox Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Account": {
      "main": [
        [
          {
            "node": "Create user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mailbox Settings": {
      "main": [
        [
          {
            "node": "Is Shared Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create user": {
      "main": [
        [
          {
            "node": "Check License Availability1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-21T23:38:27.522Z",
  "id": "nSzilnoKaarQ63cQ",
  "isArchived": true,
  "meta": null,
  "name": "M365 User Provisioning",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a7f785a9-31e2-4718-b36b-0dceb3ca73e3",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-assign",
              "name": "emailToCheck",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e0e9f6c-7e63-4d98-9949-05b1f5acbc2c",
      "name": "Set Email Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -240
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "={{ \"mail eq '\" + $('Set Email Input').item.json.emailToCheck + \"' or userPrincipalName eq '\" + $('Set Email Input').item.json.emailToCheck + \"' or proxyAddresses/any(a:a eq 'smtp:\" + $('Set Email Input').item.json.emailToCheck + \"')\" }}"
            },
            {
              "name": "$select",
              "value": "id,displayName,mail,userPrincipalName,mailNickname,userType,accountEnabled,isResourceAccount,assignedLicenses,onPremisesSyncEnabled,proxyAddresses,userPurpose"
            },
            {
              "name": "$count",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ConsistencyLevel",
              "value": "eventual"
            }
          ]
        },
        "options": {}
      },
      "id": "a4b90cca-f1b4-4725-a799-6430d1fd9f56",
      "name": "Check Users (All Types)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const matches = [];\nconst seenIds = new Set();\n\nfunction safeEmail() {\n  try {\n    return $('Set Email Input').first().json.emailToCheck.toLowerCase();\n  } catch(e) {\n    return '';\n  }\n}\n\nconst email = safeEmail();\n\nfunction addMatch(obj) {\n  if (!obj || !obj.id) return;\n  if (seenIds.has(obj.id)) return;\n  seenIds.add(obj.id);\n  matches.push(obj);\n}\n\n// ─────────────────────────────────────────────\n// USERS — covers all user-based account types:\n// Active, Shared Mailbox, Room, Equipment,\n// Guest, Hybrid, Disabled, Licensed/Unlicensed\n// ─────────────────────────────────────────────\nfunction safeGet(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    if (!items || items.length === 0) return [];\n    const first = items[0].json;\n    return first?.value || (first?.id ? [first] : []);\n  } catch (e) {\n    return [];\n  }\n}\n\nfor (const u of safeGet('Check Users (All Types)')) {\n  const hasLicense  = u.assignedLicenses?.length > 0;\n  const isResource  = u.isResourceAccount === true;\n  const isGuest     = u.userType === 'Guest';\n  const isHybrid    = u.onPremisesSyncEnabled === true;\n  const isDisabled  = u.accountEnabled === false;\n  const purpose     = u.userPurpose?.toLowerCase();\n\n  let accountType;\n  if (purpose === 'shared')              accountType = 'Shared Mailbox';\n  else if (purpose === 'room')           accountType = 'Room Mailbox';\n  else if (purpose === 'equipment')      accountType = 'Equipment Mailbox';\n  else if (isGuest)                      accountType = 'Guest User';\n  else if (isResource && hasLicense)     accountType = 'Licensed Resource Account';\n  else if (isResource)                   accountType = 'Resource Account';\n  else if (isDisabled && !hasLicense)    accountType = 'Disabled Unlicensed User';\n  else if (isDisabled)                   accountType = 'Disabled User';\n  else if (isHybrid && hasLicense)       accountType = 'Hybrid AD User (Synced)';\n  else if (isHybrid)                     accountType = 'Hybrid AD User (Unlicensed)';\n  else if (hasLicense)                   accountType = 'Active Licensed User';\n  else                                   accountType = 'Unlicensed User';\n\n  addMatch({\n    accountType,\n    id: u.id,\n    displayName: u.displayName,\n    mail: u.mail,\n    userPrincipalName: u.userPrincipalName,\n    mailNickname: u.mailNickname,\n    accountEnabled: u.accountEnabled,\n    userPurpose: u.userPurpose || null,\n    isResourceAccount: u.isResourceAccount,\n    onPremisesSyncEnabled: u.onPremisesSyncEnabled,\n    assignedLicenses: u.assignedLicenses,\n    proxyAddresses: u.proxyAddresses,\n    raw: u\n  });\n}\n\n// ─────────────────────────────────────────────\n// FINAL OUTPUT\n// ─────────────────────────────────────────────\nreturn [{\n  json: {\n    emailChecked: email,\n    accountExists: matches.length > 0,\n    matchCount: matches.length,\n    accountTypes: [...new Set(matches.map(m => m.accountType))],\n    matches\n  }\n}];\n"
      },
      "id": "06dcb432-1ef1-4f03-a9d2-d8916dca398c",
      "name": "Consolidate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -240
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
            }
          ]
        },
        "options": {}
      },
      "id": "23f1bf64-d40a-43a7-8a2a-a215cc334da4",
      "name": "Check License Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        -224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Microsoft 365 Business Standard SKU part number\nconst TARGET_SKU = 'EXCHANGEENTERPRISE';\n\nconst items = $input.all();\nconst first = items[0]?.json;\n// Handle both direct value array and nested response\nconst skus = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\n// Find the target SKU\nconst sku = skus.find(s => s.skuPartNumber === TARGET_SKU);\n\nif (!sku) {\n  return [{\n    json: {\n      licenseFound: false,\n      licenseName: 'Exchange Online (Plan 2)',\n      skuPartNumber: TARGET_SKU,\n      available: false,\n      availableUnits: 0,\n      totalUnits: 0,\n      consumedUnits: 0,\n      capabilityStatus: null,\n      message: 'SKU not found in tenant — license may not be purchased'\n    }\n  }];\n}\n\nconst total    = sku.prepaidUnits?.enabled ?? 0;\nconst consumed = sku.consumedUnits ?? 0;\nconst available = total - consumed;\n\nreturn [{\n  json: {\n    licenseFound: true,\n    licenseName: 'Exchange Online (Plan 2)',\n    skuPartNumber: TARGET_SKU,\n    skuId: sku.skuId,\n    available: available > 0,\n    availableUnits: available,\n    totalUnits: total,\n    consumedUnits: consumed,\n    capabilityStatus: sku.capabilityStatus,\n    message: available > 0\n      ? `${available} license(s) available`\n      : 'No licenses available — all seats are consumed'\n  }\n}];\n"
      },
      "id": "88765215-0138-4a04-8e40-f11ab2054284",
      "name": "Evaluate License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "license-check",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "operation": "true",
                "type": "boolean",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5bb8a86-e77f-4103-a1ff-147ab210a3f5",
      "name": "License Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        -224
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "cfrazier@michaelgraves.com",
        "subject": "Action Required: M365 License Needed",
        "html": "=<p>Hello,</p>\n<p>We have a need for $numberOfLicenses additional $licenseName license(s).</p>\n<p>Please purchase and assign to the user(s) below.</p>\n<ul>\n  <li>$userOne</li>\n  <li>$userTwo</li>\n  <li>$userThree</li>\n</ul>",
        "options": {}
      },
      "id": "a1991ce5-e2a8-475d-a958-66f11a7209df",
      "name": "Notify Admin - No License",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -320,
        -128
      ],
      "webhookId": "83e3582e-b2f6-403f-85c6-4a253266e56e"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "={{ \"mail eq '\" + $('Set Email Input1').item.json.emailToCheck + \"' or userPrincipalName eq '\" + $('Set Email Input1').item.json.emailToCheck + \"' or proxyAddresses/any(a:a eq 'smtp:\" + $('Set Email Input1').item.json.emailToCheck + \"')\" }}"
            },
            {
              "name": "$select",
              "value": "id,displayName,mail,userPrincipalName,mailNickname,userType,accountEnabled,isResourceAccount,assignedLicenses,onPremisesSyncEnabled,proxyAddresses,userPurpose"
            },
            {
              "name": "$count",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ConsistencyLevel",
              "value": "eventual"
            }
          ]
        },
        "options": {}
      },
      "id": "ace2c4cb-961a-45fd-97a1-444dff95706e",
      "name": "Check User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        352
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-assign",
              "name": "emailToCheck",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f4c3f6b-1293-47e1-bb38-6cdc434d7be1",
      "name": "Set Email Input1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "account-check",
              "leftValue": "={{ $json.value.length }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "id": "cd6be6e9-0892-4386-abd2-a0fe458ac3ec",
      "name": "Account Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "shared-check",
              "leftValue": "={{ $json.userPurpose }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "shared"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1523de54-4294-4ff0-b489-776c593dbbe8",
      "name": "Is Shared Account?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        208
      ]
    },
    {
      "parameters": {},
      "id": "f6f1d9d6-b15c-4f82-b7d4-fbe944c5f43f",
      "name": "Create Account",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        512
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://graph.microsoft.com/v1.0/users/\" + $('Check User').first().json.value[0].userPrincipalName + \"/mailboxSettings\"}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "ae2265c0-ca83-4c2a-9498-5804c977fb6e",
      "name": "Get Mailbox Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  accountEnabled: $('When Executed by Another Workflow').first().json.accountEnabled !== undefined ? $('When Executed by Another Workflow').first().json.accountEnabled : true,\n  displayName: $('When Executed by Another Workflow').first().json.displayName,\n  userPrincipalName: $('When Executed by Another Workflow').first().json.email,\n  mailNickname: $('When Executed by Another Workflow').first().json.nickName,\n  passwordProfile: {\n    password: $('When Executed by Another Workflow').first().json.password,\n    forceChangePasswordNextSignIn: true\n  },\n  userType: 'Member'\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        512
      ],
      "id": "e8447c6b-e6df-4b7b-8ea9-31d9e0db7aca",
      "name": "Create user"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
            }
          ]
        },
        "options": {}
      },
      "id": "79c81803-f684-4a7c-8365-df92676ef5a3",
      "name": "Check License Availability1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        512
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "displayName": "IT Test",
          "email": "Test@michaelgraves.com",
          "nickName": "ittest",
          "password": "mgaTemp1#"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-21T23:38:27.522Z",
      "createdAt": "2026-07-21T23:38:27.522Z",
      "role": "workflow:owner",
      "workflowId": "nSzilnoKaarQ63cQ",
      "projectId": "dGYDiW525eTaLUVb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-22T17:06:15.372Z",
  "versionId": "b788b5df-d7ed-4386-b988-380bbc10f046"
}