workflows/Y28HNdBQKsTjOcI6.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-19T19:16:20.235Z",
    "createdAt": "2026-07-19T19:16:20.235Z",
    "versionId": "d283f3b7-77bc-4967-8a21-91ac44f9b3a6",
    "workflowId": "Y28HNdBQKsTjOcI6",
    "nodes": [
      {
        "parameters": {},
        "id": "c5306957-92b0-4116-babf-2b77af7d84de",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          320,
          -224
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 671,
          "width": 2455,
          "color": 6
        },
        "id": "7c8d08a9-71cf-40de-8986-d5b634420021",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          256,
          464
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "88fb6acc-6447-44d3-9a5c-caca928a503f",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          2560,
          736
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "7b664407-59d3-4236-bce8-eaee87ed9db2",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1216,
          592
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "a5400aaf-ef36-4a7f-aa4e-a1adcccb73d1",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          992,
          672
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "7775efc8-dbf5-4bf3-8daf-75e8f683ea95",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          1440,
          736
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
        },
        "id": "ae8dbeff-1b2c-467e-951b-690e8cd0bf16",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          1664,
          736
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "3abe4a4e-e925-4738-bd38-769453fa166d",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1888,
          704
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "0c0db295-4de9-4923-b602-7ded0fcdc0dc",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2336,
          544
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "d0a567c9-d15e-4099-84e6-2474f6099596",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2112,
          736
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "c3fb01b1-93d3-4a4b-bec8-5506e1829bd5",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2112,
          928
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "77f5a634-10cd-4890-b2ed-5429def130f2",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          2336,
          928
        ],
        "webhookId": "2074ba69-69d2-45c0-bc4b-38470befa147",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "oCTCiElToO4jr9m9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "25a91801-8bfa-4046-b4c2-c1491dbf748e",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          2336,
          736
        ],
        "webhookId": "f17ed06b-0b08-48bb-94b9-ad2fc1314602",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "oCTCiElToO4jr9m9",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "96a9040c-cee0-4b0a-a4a2-fb8ca5059110",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          992,
          -80
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 2
              }
            ]
          }
        },
        "id": "4b23fad8-d5e7-4387-b0ef-8d854010f757",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          320,
          256
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance credentials to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the credentials to go into a `credentials` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - credentials/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
          "height": 596.4810912485963,
          "width": 365.19481715599653,
          "color": 4
        },
        "id": "19feb893-530d-4d1f-851d-e7817e72ad0e",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          -560
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 787,
          "width": 1141,
          "color": 7
        },
        "id": "b5895982-a7bb-4ee2-a86e-e5505e09d2c8",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          256,
          -352
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.name }}"
          },
          "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "ff49c4b9-d710-41aa-8c34-4bfa19de761f",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          768,
          672
        ],
        "webhookId": "d47279e5-2a81-462f-ac67-8e4b81fb23c6",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "oCTCiElToO4jr9m9",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": "jcfrazier6"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n-backups"
              },
              {
                "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
                "name": "repo.path",
                "type": "string",
                "value": "credentials/"
              }
            ]
          },
          "options": {}
        },
        "id": "ace903f9-f598-4452-86d8-c08e7adc56fd",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          544,
          672
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "command": "npx n8n export:credentials --all --decrypted"
        },
        "id": "a6929672-2aa2-4be0-8b47-15083bc9ba45",
        "name": "Execute Command",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          544,
          -80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Exclude credentials whose secrets can't be committed to git (e.g. GitHub PAT trips secret scanning)\nconst EXCLUDED_CREDENTIAL_IDS = ['oCTCiElToO4jr9m9'];\nconst filteredJson = beautifiedJson.filter(entry => !EXCLUDED_CREDENTIAL_IDS.includes(entry.id));\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = filteredJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
        },
        "id": "8360403f-c7f5-49b9-b66f-9c278d5a023a",
        "name": "JSON formatting",
        "type": "n8n-nodes-base.code",
        "position": [
          768,
          -80
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "d3ae47f3-f909-47c4-8b01-e2012c62616a",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          528,
          560
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "f66cee7f-6722-4389-a604-ea4e7a7a02a3",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          320,
          736
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
          "width": 640,
          "color": 4
        },
        "id": "dcfbed34-6ed5-4580-9561-5e552e4d1bdc",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          272,
          -560
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "={{ $workflow.id }}",
            "mode": "id",
            "cachedResultName": "Credentials Backup"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1216,
          -80
        ],
        "id": "3b32527a-0e7d-4293-a9bf-545ae520c615",
        "name": "Execute Workflow1"
      },
      {
        "parameters": {
          "events": [
            "init"
          ]
        },
        "id": "f9523b60-bf2a-4c4f-817c-0e71dcd10e39",
        "name": "n8n Trigger",
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          320,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\n\nif (staticData.lastEmailDate === today) {\n  return [];\n}\n\nstaticData.lastEmailDate = today;\nreturn [{ json: { today } }];"
        },
        "id": "3b346a37-86e4-465b-897c-6b15b62342a0",
        "name": "Check if first run today",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "microsoftOAuth2Api",
          "toRecipients": "itadmin@michaelgraves.com",
          "subject": "=Credentials Backup - first run of {{ $json.today }}",
          "bodyContent": "=<div style=\"font-family: 'Segoe UI', sans-serif; max-width: 480px; margin: 0 auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(0,0,0,0.08); border-top: 4px solid #2b6cb0;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">✅</span>\n    <h2 style=\"margin:0; color:#2b6cb0; font-size:20px;\">Credentials Backup</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">Ran for the first time today, <strong>{{ $json.today }}</strong>.</p>\n</div>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "id": "db26b5f1-75ce-416a-921c-cafde9505d83",
        "name": "Send first-run email",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          768,
          112
        ],
        "webhookId": "7e992268-925d-44dc-82bc-0e8737ccfbb9",
        "credentials": {
          "microsoftOAuth2Api": {
            "id": "DjYtaHOPI3TmStyM",
            "name": "Microsoft account"
          }
        }
      }
    ],
    "connections": {
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "JSON formatting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON formatting": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Execute Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check if first run today",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check if first run today",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Execute Workflow1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n Trigger": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check if first run today",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if first run today": {
        "main": [
          [
            {
              "node": "Send first-run email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "IT Admin",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "d283f3b7-77bc-4967-8a21-91ac44f9b3a6",
  "connections": {
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if first run today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if first run today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if first run today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if first run today": {
      "main": [
        [
          {
            "node": "Send first-run email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-19T17:07:20.030Z",
  "id": "Y28HNdBQKsTjOcI6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Credentials Backup",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {},
      "id": "c5306957-92b0-4116-babf-2b77af7d84de",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 671,
        "width": 2455,
        "color": 6
      },
      "id": "7c8d08a9-71cf-40de-8986-d5b634420021",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "88fb6acc-6447-44d3-9a5c-caca928a503f",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2560,
        736
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "7b664407-59d3-4236-bce8-eaee87ed9db2",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1216,
        592
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a5400aaf-ef36-4a7f-aa4e-a1adcccb73d1",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        992,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "7775efc8-dbf5-4bf3-8daf-75e8f683ea95",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        1440,
        736
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "ae8dbeff-1b2c-467e-951b-690e8cd0bf16",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1664,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "3abe4a4e-e925-4738-bd38-769453fa166d",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1888,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0c0db295-4de9-4923-b602-7ded0fcdc0dc",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2336,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d0a567c9-d15e-4099-84e6-2474f6099596",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2112,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c3fb01b1-93d3-4a4b-bec8-5506e1829bd5",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2112,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "77f5a634-10cd-4890-b2ed-5429def130f2",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        2336,
        928
      ],
      "webhookId": "2074ba69-69d2-45c0-bc4b-38470befa147",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "oCTCiElToO4jr9m9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "25a91801-8bfa-4046-b4c2-c1491dbf748e",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        2336,
        736
      ],
      "webhookId": "f17ed06b-0b08-48bb-94b9-ad2fc1314602",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "oCTCiElToO4jr9m9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96a9040c-cee0-4b0a-a4a2-fb8ca5059110",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        992,
        -80
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "4b23fad8-d5e7-4387-b0ef-8d854010f757",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        320,
        256
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance credentials to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the credentials to go into a `credentials` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - credentials/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 596.4810912485963,
        "width": 365.19481715599653,
        "color": 4
      },
      "id": "19feb893-530d-4d1f-851d-e7817e72ad0e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 787,
        "width": 1141,
        "color": 7
      },
      "id": "b5895982-a7bb-4ee2-a86e-e5505e09d2c8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "ff49c4b9-d710-41aa-8c34-4bfa19de761f",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        768,
        672
      ],
      "webhookId": "d47279e5-2a81-462f-ac67-8e4b81fb23c6",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "oCTCiElToO4jr9m9",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "jcfrazier6"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "credentials/"
            }
          ]
        },
        "options": {}
      },
      "id": "ace903f9-f598-4452-86d8-c08e7adc56fd",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        544,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "a6929672-2aa2-4be0-8b47-15083bc9ba45",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        544,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Exclude credentials whose secrets can't be committed to git (e.g. GitHub PAT trips secret scanning)\nconst EXCLUDED_CREDENTIAL_IDS = ['oCTCiElToO4jr9m9'];\nconst filteredJson = beautifiedJson.filter(entry => !EXCLUDED_CREDENTIAL_IDS.includes(entry.id));\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = filteredJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "8360403f-c7f5-49b9-b66f-9c278d5a023a",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        768,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "d3ae47f3-f909-47c4-8b01-e2012c62616a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f66cee7f-6722-4389-a604-ea4e7a7a02a3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        320,
        736
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "width": 640,
        "color": 4
      },
      "id": "dcfbed34-6ed5-4580-9561-5e552e4d1bdc",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id",
          "cachedResultName": "Credentials Backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1216,
        -80
      ],
      "id": "3b32527a-0e7d-4293-a9bf-545ae520c615",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "events": [
          "init"
        ]
      },
      "id": "f9523b60-bf2a-4c4f-817c-0e71dcd10e39",
      "name": "n8n Trigger",
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        320,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\n\nif (staticData.lastEmailDate === today) {\n  return [];\n}\n\nstaticData.lastEmailDate = today;\nreturn [{ json: { today } }];"
      },
      "id": "3b346a37-86e4-465b-897c-6b15b62342a0",
      "name": "Check if first run today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "microsoftOAuth2Api",
        "toRecipients": "itadmin@michaelgraves.com",
        "subject": "=Credentials Backup - first run of {{ $json.today }}",
        "bodyContent": "=<div style=\"font-family: 'Segoe UI', sans-serif; max-width: 480px; margin: 0 auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(0,0,0,0.08); border-top: 4px solid #2b6cb0;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">✅</span>\n    <h2 style=\"margin:0; color:#2b6cb0; font-size:20px;\">Credentials Backup</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">Ran for the first time today, <strong>{{ $json.today }}</strong>.</p>\n</div>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "db26b5f1-75ce-416a-921c-cafde9505d83",
      "name": "Send first-run email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        768,
        112
      ],
      "webhookId": "7e992268-925d-44dc-82bc-0e8737ccfbb9",
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "DjYtaHOPI3TmStyM",
          "name": "Microsoft account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-07-19T17:07:20.030Z",
      "createdAt": "2026-07-19T17:07:20.030Z",
      "role": "workflow:owner",
      "workflowId": "Y28HNdBQKsTjOcI6",
      "projectId": "E8Q15E4CGDUTSfyO"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ],
      "recurrenceRuleSignatures": [
        "hours:2"
      ]
    },
    "global": {
      "lastEmailDate": "2026-07-19"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-07-19T19:16:20.234Z",
  "versionId": "d283f3b7-77bc-4967-8a21-91ac44f9b3a6"
}