workflows/2026/07/aPDE3V5eNAsqW4zP.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-06T02:00:37.083Z",
    "createdAt": "2026-07-06T02:00:37.083Z",
    "versionId": "dca40ec0-9e64-4045-9d7c-80021eaddcaf",
    "workflowId": "aPDE3V5eNAsqW4zP",
    "nodes": [
      {
        "parameters": {
          "formTitle": "New Hire Account Request",
          "formDescription": "Submit new-hire details to provision their Microsoft 365 account.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "First Name",
                "requiredField": true
              },
              {
                "fieldLabel": "Last Name",
                "requiredField": true
              },
              {
                "fieldLabel": "License Type",
                "fieldType": "checkbox",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Exchange Online (Plan 2) (0 available)"
                    },
                    {
                      "option": "Microsoft 365 Audio Conferencing (2 available)"
                    },
                    {
                      "option": "Microsoft 365 Business Basic (1 available)"
                    },
                    {
                      "option": "Microsoft 365 Business Standard (1 available)"
                    },
                    {
                      "option": "Microsoft 365 Copilot (0 available)"
                    },
                    {
                      "option": "Microsoft Teams Premium (0 available)"
                    },
                    {
                      "option": "OneDrive for Business (Plan 2) (0 available)"
                    },
                    {
                      "option": "Planner and Project Plan 3 (0 available)"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "b8e59cf1-1367-45e6-a46b-1633e38f856a",
        "name": "New Hire Form",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.6,
        "position": [
          240,
          288
        ],
        "webhookId": "015c2f57-e6e6-46eb-9bd3-140e942954ff"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.microsoft.com/v1.0/users",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"accountEnabled\": true,\n  \"displayName\": \"{{ $('Compute Fields').item.json.displayName }}\",\n  \"mailNickname\": \"{{ $('Compute Fields').item.json.mailNickname }}\",\n  \"userPrincipalName\": \"{{ $('Compute Fields').item.json.userPrincipalName }}\",\n  \"usageLocation\": \"US\",\n  \"passwordProfile\": {\n    \"forceChangePasswordNextSignIn\": true,\n    \"password\": \"{{ $('Compute Fields').item.json.tempPassword }}\"\n  }\n}",
          "options": {}
        },
        "id": "4fc90b91-1f94-483a-9e1b-5ca68b11a305",
        "name": "Create Entra ID User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3376,
          48
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e870973c-5d25-4d60-84bf-0307e48b4332",
                "name": "displayName",
                "type": "string",
                "value": "={{ $json['First Name'].trim() + ' ' + $json['Last Name'].trim() }}"
              },
              {
                "id": "b57ee0c2-cdcc-4ca7-a6cf-a20ed3b81421",
                "name": "mailNickname",
                "type": "string",
                "value": "={{ (() => { const f = $json['First Name'].trim(); const l = $json['Last Name'].trim(); return (f.charAt(0) + l).toLowerCase().replace(/[^a-z0-9]/g, ''); })() }}"
              },
              {
                "id": "7cb30a6c-a772-4c4e-a2bc-7ce75ac8114d",
                "name": "userPrincipalName",
                "type": "string",
                "value": "={{ (() => { const f = $json['First Name'].trim(); const l = $json['Last Name'].trim(); const nick = (f.charAt(0) + l).toLowerCase().replace(/[^a-z0-9]/g, ''); return nick + '@michaelgraves.com'; })() }}"
              },
              {
                "id": "a1505102-c98e-47bb-8c91-6bd6be3a3416",
                "name": "tempPassword",
                "type": "string",
                "value": "={{ 'MGAtemp' + $now.year }}"
              }
            ]
          },
          "options": {}
        },
        "id": "bbae9d6b-1716-45c0-9516-75d50266e0f8",
        "name": "Compute Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          288
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}?$select=id,userPrincipalName,accountEnabled",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "id": "35362956-4fb2-4e66-aa56-e4a3845efaa7",
        "name": "Check Existing User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          688,
          288
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "2850d1f3-d370-4877-bbad-d1de5d9a4984",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "number",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 404
              }
            ]
          },
          "options": {}
        },
        "id": "9ff5aab5-8072-401b-b7a7-75ab21c1f80e",
        "name": "Does User Exist?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          912,
          288
        ]
      },
      {
        "parameters": {
          "command": "=pwsh -NoProfile -NonInteractive -Command \"$ErrorActionPreference = 'Stop'; Connect-ExchangeOnline -CertificateThumbprint '9A5360CF006242900CE0C1636BC63392835DD5D0' -AppId '45c9b518-c0b0-4933-bfff-29ff6c11831a' -Organization 'michaelgravesarchitecture.onmicrosoft.com' -ShowBanner:$false; try { (Get-Mailbox -Identity '{{ $('Compute Fields').item.json.userPrincipalName }}').RecipientTypeDetails } finally { Disconnect-ExchangeOnline -Confirm:$false -ErrorAction SilentlyContinue } \""
        },
        "id": "f87e4428-2623-41ba-bd47-c60b1cc8c9d8",
        "name": "Check Mailbox Type",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1136,
          448
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a826ab01-0376-4a82-abce-bfc799eb90a4",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.stdout.trim() }}",
                "rightValue": "SharedMailbox"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "98e1cd4c-cc2c-4a69-95be-29a4f7f1040c",
        "name": "Is Shared Mailbox?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1360,
          448
        ]
      },
      {
        "parameters": {
          "command": "=pwsh -NoProfile -NonInteractive -Command \"$ErrorActionPreference = 'Stop'; Connect-ExchangeOnline -CertificateThumbprint '9A5360CF006242900CE0C1636BC63392835DD5D0' -AppId '45c9b518-c0b0-4933-bfff-29ff6c11831a' -Organization 'michaelgravesarchitecture.onmicrosoft.com' -ShowBanner:$false; try { Set-Mailbox -Identity '{{ $('Compute Fields').item.json.userPrincipalName }}' -Type Regular; Write-Output 'Converted' } finally { Disconnect-ExchangeOnline -Confirm:$false -ErrorAction SilentlyContinue } \""
        },
        "id": "2fae6fea-fec0-4cbe-ab5d-0c05ef3ca9f6",
        "name": "Convert Shared Mailbox to Regular",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2704,
          352
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"passwordProfile\": {\n    \"forceChangePasswordNextSignIn\": true,\n    \"password\": \"{{ $('Compute Fields').item.json.tempPassword }}\"\n  }\n}",
          "options": {}
        },
        "id": "3151b13c-6413-42ac-a247-a4ace33e427d",
        "name": "Reset Password",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3152,
          352
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "amount": 30
        },
        "id": "c0fe8cd7-fa9c-4c84-9acf-bb9e9b7f8c75",
        "name": "Wait for Directory Sync",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2928,
          352
        ],
        "webhookId": "cf050e7f-7cf9-445d-829d-d6652d1cf85a"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"accountEnabled\": true,\n  \"displayName\": \"{{ $('Compute Fields').item.json.displayName }}\",\n  \"usageLocation\": \"US\"\n}",
          "options": {}
        },
        "id": "647b4c1f-7d04-47d1-83b4-fab9c4c01ae6",
        "name": "Enable and Rename User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3376,
          352
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "itadmin@michaelgraves.com",
          "toEmail": "itadmin@michaelgraves.com",
          "subject": "Action Required: Possible Duplicate Account - New Hire Provisioning",
          "html": "=<p>Hello,</p>\n<p>The new hire provisioning workflow found that <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}) already has an existing M365 account, and that account is <strong>not</strong> a shared mailbox.</p>\n<p>This indicates a likely duplicate account. Please review before any further action is taken.</p>\n<ul>\n  <li>User Principal Name: {{ $('Compute Fields').item.json.userPrincipalName }}</li>\n  <li>Display Name: {{ $('Compute Fields').item.json.displayName }}</li>\n  <li>Detected Mailbox Type: {{ $('Check Mailbox Type').item.json.stdout.trim() }}</li>\n  <li>Current License(s): {{ $json.existingLicenses.length ? $json.existingLicenses.join(', ') : 'None assigned' }}</li>\n</ul>",
          "options": {}
        },
        "id": "notify-duplicate-nh-1",
        "name": "Notify Admin - Duplicate Account",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          2032,
          544
        ],
        "webhookId": "77e88312-7f46-4519-b31c-8593f1538453",
        "credentials": {
          "smtp": {
            "id": "zyzvCLXpv9nbOFvh",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$select",
                "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
              }
            ]
          },
          "options": {}
        },
        "id": "check-lic-create-1",
        "name": "Check License (Create Path)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2480,
          48
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst selectedRaw = $('New Hire Form').item.json['License Type'];\nconst selectedList = Array.isArray(selectedRaw) ? selectedRaw : (selectedRaw ? [selectedRaw] : []);\nconst targetFriendlyNames = selectedList.map(s => s.split(' (')[0].trim());\n\nconst items = $input.all();\nconst first = items[0]?.json;\nconst skus = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\nconst licenses = targetFriendlyNames.map(targetFriendlyName => {\n  const sku = skus.find(s => friendlyName(s.skuPartNumber) === targetFriendlyName);\n  if (!sku) {\n    return { licenseName: targetFriendlyName, licenseAvailable: false, availableUnits: 0, skuId: null };\n  }\n  const total = sku.prepaidUnits?.enabled ?? 0;\n  const consumed = sku.consumedUnits ?? 0;\n  const available = total - consumed;\n  return { licenseName: friendlyName(sku.skuPartNumber), licenseAvailable: available > 0, availableUnits: available, skuId: sku.skuId };\n});\n\nconst availableLicenses = licenses.filter(l => l.licenseAvailable);\nconst unavailableLicenses = licenses.filter(l => !l.licenseAvailable);\n\nreturn [{ json: { licenses, availableLicenses, unavailableLicenses, anyAvailable: availableLicenses.length > 0, allAvailable: unavailableLicenses.length === 0 } }];"
        },
        "id": "eval-lic-create-1",
        "name": "Evaluate License (Create Path)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          48
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "lic-avail-create",
                "leftValue": "={{ $json.allAvailable }}",
                "operator": {
                  "operation": "true",
                  "type": "boolean",
                  "singleValue": true
                },
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "license-avail-create-if-1",
        "name": "License Available? (Create Path)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2928,
          48
        ]
      },
      {
        "parameters": {
          "fromEmail": "itadmin@michaelgraves.com",
          "toEmail": "itadmin@michaelgraves.com",
          "subject": "Action Required: No License Available - New Hire (New Account)",
          "html": "=<p>Hello,</p>\n<p>A new M365 account is being created for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}), but the following requested license(s) currently have no available seats:</p>\n<ul>{{ $json.unavailableLicenses.map(l => '<li>' + l.licenseName + '</li>').join('') }}</ul>\n<p>The account will still be created; any other requested license(s) with available seats will be assigned normally. Please purchase/free up seats and assign the above manually.</p>",
          "options": {}
        },
        "id": "notify-no-lic-create-1",
        "name": "Notify Admin - No License (Create Path)",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          3152,
          112
        ],
        "webhookId": "eedb2ba7-10dd-486a-9fc2-65b17dda37a8",
        "credentials": {
          "smtp": {
            "id": "zyzvCLXpv9nbOFvh",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "$select",
                "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
              }
            ]
          },
          "options": {}
        },
        "id": "check-lic-reenable-1",
        "name": "Check License (Reenable Path)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1584,
          352
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst selectedRaw = $('New Hire Form').item.json['License Type'];\nconst selectedList = Array.isArray(selectedRaw) ? selectedRaw : (selectedRaw ? [selectedRaw] : []);\nconst targetFriendlyNames = selectedList.map(s => s.split(' (')[0].trim());\n\nconst tenantFirst = $('Check License (Reenable Path)').item.json;\nconst skus = Array.isArray(tenantFirst?.value) ? tenantFirst.value : (Array.isArray(tenantFirst) ? tenantFirst : []);\n\nconst currentFirst = $input.all()[0]?.json;\nconst currentDetails = Array.isArray(currentFirst?.value) ? currentFirst.value : (Array.isArray(currentFirst) ? currentFirst : []);\n\nconst licenses = targetFriendlyNames.map(targetFriendlyName => {\n  const sku = skus.find(s => friendlyName(s.skuPartNumber) === targetFriendlyName);\n  if (!sku) {\n    return { licenseName: targetFriendlyName, licenseAvailable: false, availableUnits: 0, skuId: null, skuPartNumber: null, alreadyAssigned: false };\n  }\n  const total = sku.prepaidUnits?.enabled ?? 0;\n  const consumed = sku.consumedUnits ?? 0;\n  const available = total - consumed;\n  const alreadyAssigned = currentDetails.some(d => d.skuPartNumber === sku.skuPartNumber);\n  return { licenseName: friendlyName(sku.skuPartNumber), licenseAvailable: available > 0, availableUnits: available, skuId: sku.skuId, skuPartNumber: sku.skuPartNumber, alreadyAssigned };\n});\n\nconst availableLicenses = licenses.filter(l => l.licenseAvailable);\nconst unavailableLicenses = licenses.filter(l => !l.licenseAvailable);\n\nconst requestedSkuPartNumbers = licenses.map(l => l.skuPartNumber).filter(Boolean);\nconst licensesToAdd = availableLicenses.filter(l => !l.alreadyAssigned);\nconst licensesToRemove = currentDetails\n  .filter(d => !requestedSkuPartNumbers.includes(d.skuPartNumber))\n  .map(d => ({ skuId: d.skuId, licenseName: friendlyName(d.skuPartNumber) }));\n\nreturn [{ json: { licenses, availableLicenses, unavailableLicenses, licensesToAdd, licensesToRemove, anyAvailable: availableLicenses.length > 0, allAvailable: unavailableLicenses.length === 0, anyChange: licensesToAdd.length > 0 || licensesToRemove.length > 0 } }];"
        },
        "id": "eval-lic-reenable-1",
        "name": "Evaluate License (Reenable Path)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          352
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "lic-avail-reenable",
                "leftValue": "={{ $json.allAvailable }}",
                "operator": {
                  "operation": "true",
                  "type": "boolean",
                  "singleValue": true
                },
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "license-avail-reenable-if-1",
        "name": "License Available? (Reenable Path)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2256,
          352
        ]
      },
      {
        "parameters": {
          "fromEmail": "itadmin@michaelgraves.com",
          "toEmail": "itadmin@michaelgraves.com",
          "subject": "Action Required: No License Available - New Hire (Reenabled Account)",
          "html": "=<p>Hello,</p>\n<p>An existing M365 mailbox is being converted/reenabled for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}), but the following requested license(s) currently have no available seats:</p>\n<ul>{{ $json.unavailableLicenses.map(l => '<li>' + l.licenseName + '</li>').join('') }}</ul>\n<p>The account will still be reenabled; any other requested license(s) with available seats will be assigned normally. Please purchase/free up seats and assign the above manually.</p>",
          "options": {}
        },
        "id": "notify-no-lic-reenable-1",
        "name": "Notify Admin - No License (Reenable Path)",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          2480,
          432
        ],
        "webhookId": "f066f7db-3e3d-4742-94e5-b99448cd3e06",
        "credentials": {
          "smtp": {
            "id": "zyzvCLXpv9nbOFvh",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sum-c-1",
                "name": "accountStatus",
                "type": "string",
                "value": "Created"
              },
              {
                "id": "sum-c-2",
                "name": "licenseNames",
                "type": "string",
                "value": "={{ $('Evaluate License (Create Path)').item.json.licenses.map(l => l.licenseName).join(', ') || 'None requested' }}"
              },
              {
                "id": "sum-c-3",
                "name": "licensesAssigned",
                "type": "string",
                "value": "={{ $('Evaluate License (Create Path)').item.json.availableLicenses.map(l => l.licenseName).join(', ') || 'None' }}"
              },
              {
                "id": "sum-c-4",
                "name": "anyLicenseUnavailable",
                "type": "boolean",
                "value": "={{ $('Evaluate License (Create Path)').item.json.unavailableLicenses.length > 0 }}"
              },
              {
                "id": "sum-c-5",
                "name": "licensesRemoved",
                "type": "string",
                "value": "None"
              }
            ]
          },
          "options": {}
        },
        "id": "build-summary-create-1",
        "name": "Build Summary (Created)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4048,
          48
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sum-r-1",
                "name": "accountStatus",
                "type": "string",
                "value": "Reenabled"
              },
              {
                "id": "sum-r-2",
                "name": "licenseNames",
                "type": "string",
                "value": "={{ $('Evaluate License (Reenable Path)').item.json.licenses.map(l => l.licenseName).join(', ') || 'None requested' }}"
              },
              {
                "id": "sum-r-3",
                "name": "licensesAssigned",
                "type": "string",
                "value": "={{ $('Evaluate License (Reenable Path)').item.json.availableLicenses.map(l => l.licenseName).join(', ') || 'None' }}"
              },
              {
                "id": "sum-r-4",
                "name": "anyLicenseUnavailable",
                "type": "boolean",
                "value": "={{ $('Evaluate License (Reenable Path)').item.json.unavailableLicenses.length > 0 }}"
              },
              {
                "id": "sum-r-5",
                "name": "licensesRemoved",
                "type": "string",
                "value": "={{ $('Evaluate License (Reenable Path)').item.json.licensesToRemove.map(l => l.licenseName).join(', ') || 'None' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "build-summary-reenable-1",
        "name": "Build Summary (Reenabled)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4048,
          352
        ]
      },
      {
        "parameters": {},
        "id": "workflow-end-summary-1",
        "name": "Workflow End - Provisioning Summary",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4496,
          192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "was-lic-avail-create",
                "operator": {
                  "name": "filter.operator.true",
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $('Evaluate License (Create Path)').item.json.anyAvailable }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "b1e4a3f2-6c8d-4a1b-9e3f-2d5c7a9b1e04",
        "name": "Was License Available? (Create Path)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3600,
          48
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/assignLicense",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"addLicenses\": {{ JSON.stringify($('Evaluate License (Create Path)').item.json.availableLicenses.map(l => ({ skuId: l.skuId }))) }},\n  \"removeLicenses\": []\n}",
          "options": {}
        },
        "id": "c2f5b4a3-7d9e-4b2c-af40-3e6d8b0c2f15",
        "name": "Assign License (Create Path)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3824,
          -80
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "was-lic-avail-reenable",
                "operator": {
                  "name": "filter.operator.true",
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $('Evaluate License (Reenable Path)').item.json.anyChange }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "d3064c54-8eaf-4c3d-b051-4f7e9c1d3026",
        "name": "Was License Available? (Reenable Path)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3600,
          352
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/assignLicense",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"addLicenses\": {{ JSON.stringify($('Evaluate License (Reenable Path)').item.json.licensesToAdd.map(l => ({ skuId: l.skuId }))) }},\n  \"removeLicenses\": {{ JSON.stringify($('Evaluate License (Reenable Path)').item.json.licensesToRemove.map(l => l.skuId)) }}\n}",
          "options": {}
        },
        "id": "e4175d65-9fb0-4d4e-8162-5f8fad2e4137",
        "name": "Assign License (Reenable Path)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3824,
          240
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "itadmin@michaelgraves.com",
          "toEmail": "itadmin@michaelgraves.com",
          "subject": "New Hire M365 Provisioning Complete",
          "html": "=<p>Hello,</p>\n<p>M365 provisioning finished for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}).</p>\n<ul>\n  <li>Result: {{ $json.accountStatus }}</li>\n  <li>Licensed: {{ $json.licensesAssigned !== 'None' ? 'Yes' : 'No' }}</li>\n  <li>License(s): {{ $json.licensesAssigned }}{{ $json.anyLicenseUnavailable ? ' (some requested licenses unavailable - see prior alert)' : '' }}</li>\n  <li>Requested: {{ $json.licenseNames }}</li>\n  {{ $json.licensesRemoved && $json.licensesRemoved !== 'None' ? '<li>Removed: ' + $json.licensesRemoved + '</li>' : '' }}\n</ul>",
          "options": {}
        },
        "id": "f5286e76-a0c1-4e5f-9273-609abe3f5248",
        "name": "Notify Admin - Provisioning Complete",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          4272,
          192
        ],
        "webhookId": "b15a0722-1170-41b0-845b-4ab96e6c0a63",
        "credentials": {
          "smtp": {
            "id": "zyzvCLXpv9nbOFvh",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/licenseDetails",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "id": "a6b3c8d2-1e4f-4a7b-8c92-3d5e7f9a1b04",
        "name": "Check Existing Account License",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1584,
          544
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst items = $input.all();\nconst first = items[0]?.json;\nconst details = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\nconst existingLicenses = details.map(d => friendlyName(d.skuPartNumber));\n\nreturn [{ json: { existingLicenses } }];"
        },
        "id": "b7c4d9e3-2f5a-4b8c-9d03-4e6f8a0b2c15",
        "name": "Get Existing License Names",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          544
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/licenseDetails",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {}
        },
        "id": "c8d5e0f4-3a6b-4c9d-a184-5f7b9c1d3e26",
        "name": "Check Current Account License (Reenable Path)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1808,
          352
        ],
        "credentials": {
          "oAuth2Api": {
            "id": "HeTzgsWuLZnUmQjH",
            "name": "Entra OAuth2 API"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Compute Fields": {
        "main": [
          [
            {
              "node": "Check Existing User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing User": {
        "main": [
          [
            {
              "node": "Does User Exist?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Does User Exist?": {
        "main": [
          [
            {
              "node": "Check License (Create Path)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check Mailbox Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Mailbox Type": {
        "main": [
          [
            {
              "node": "Is Shared Mailbox?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Shared Mailbox?": {
        "main": [
          [
            {
              "node": "Check License (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check Existing Account License",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Shared Mailbox to Regular": {
        "main": [
          [
            {
              "node": "Wait for Directory Sync",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Directory Sync": {
        "main": [
          [
            {
              "node": "Reset Password",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reset Password": {
        "main": [
          [
            {
              "node": "Enable and Rename User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check License (Create Path)": {
        "main": [
          [
            {
              "node": "Evaluate License (Create Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate License (Create Path)": {
        "main": [
          [
            {
              "node": "License Available? (Create Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "License Available? (Create Path)": {
        "main": [
          [
            {
              "node": "Create Entra ID User",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Admin - No License (Create Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin - No License (Create Path)": {
        "main": [
          [
            {
              "node": "Create Entra ID User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate License (Reenable Path)": {
        "main": [
          [
            {
              "node": "License Available? (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "License Available? (Reenable Path)": {
        "main": [
          [
            {
              "node": "Convert Shared Mailbox to Regular",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Admin - No License (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin - No License (Reenable Path)": {
        "main": [
          [
            {
              "node": "Convert Shared Mailbox to Regular",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New Hire Form": {
        "main": [
          [
            {
              "node": "Compute Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Entra ID User": {
        "main": [
          [
            {
              "node": "Was License Available? (Create Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was License Available? (Create Path)": {
        "main": [
          [
            {
              "node": "Assign License (Create Path)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Summary (Created)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assign License (Create Path)": {
        "main": [
          [
            {
              "node": "Build Summary (Created)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enable and Rename User": {
        "main": [
          [
            {
              "node": "Was License Available? (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was License Available? (Reenable Path)": {
        "main": [
          [
            {
              "node": "Assign License (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Summary (Reenabled)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assign License (Reenable Path)": {
        "main": [
          [
            {
              "node": "Build Summary (Reenabled)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Summary (Created)": {
        "main": [
          [
            {
              "node": "Notify Admin - Provisioning Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Summary (Reenabled)": {
        "main": [
          [
            {
              "node": "Notify Admin - Provisioning Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Admin - Provisioning Complete": {
        "main": [
          [
            {
              "node": "Workflow End - Provisioning Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing Account License": {
        "main": [
          [
            {
              "node": "Get Existing License Names",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Existing License Names": {
        "main": [
          [
            {
              "node": "Notify Admin - Duplicate Account",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check License (Reenable Path)": {
        "main": [
          [
            {
              "node": "Check Current Account License (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Current Account License (Reenable Path)": {
        "main": [
          [
            {
              "node": "Evaluate License (Reenable Path)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "IT Admin",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "dca40ec0-9e64-4045-9d7c-80021eaddcaf",
  "connections": {
    "Compute Fields": {
      "main": [
        [
          {
            "node": "Check Existing User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing User": {
      "main": [
        [
          {
            "node": "Does User Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does User Exist?": {
      "main": [
        [
          {
            "node": "Check License (Create Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Mailbox Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mailbox Type": {
      "main": [
        [
          {
            "node": "Is Shared Mailbox?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Shared Mailbox?": {
      "main": [
        [
          {
            "node": "Check License (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Existing Account License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Shared Mailbox to Regular": {
      "main": [
        [
          {
            "node": "Wait for Directory Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Directory Sync": {
      "main": [
        [
          {
            "node": "Reset Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Password": {
      "main": [
        [
          {
            "node": "Enable and Rename User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License (Create Path)": {
      "main": [
        [
          {
            "node": "Evaluate License (Create Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate License (Create Path)": {
      "main": [
        [
          {
            "node": "License Available? (Create Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "License Available? (Create Path)": {
      "main": [
        [
          {
            "node": "Create Entra ID User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin - No License (Create Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - No License (Create Path)": {
      "main": [
        [
          {
            "node": "Create Entra ID User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate License (Reenable Path)": {
      "main": [
        [
          {
            "node": "License Available? (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "License Available? (Reenable Path)": {
      "main": [
        [
          {
            "node": "Convert Shared Mailbox to Regular",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin - No License (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - No License (Reenable Path)": {
      "main": [
        [
          {
            "node": "Convert Shared Mailbox to Regular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Hire Form": {
      "main": [
        [
          {
            "node": "Compute Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Entra ID User": {
      "main": [
        [
          {
            "node": "Was License Available? (Create Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was License Available? (Create Path)": {
      "main": [
        [
          {
            "node": "Assign License (Create Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summary (Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign License (Create Path)": {
      "main": [
        [
          {
            "node": "Build Summary (Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enable and Rename User": {
      "main": [
        [
          {
            "node": "Was License Available? (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was License Available? (Reenable Path)": {
      "main": [
        [
          {
            "node": "Assign License (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summary (Reenabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign License (Reenable Path)": {
      "main": [
        [
          {
            "node": "Build Summary (Reenabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary (Created)": {
      "main": [
        [
          {
            "node": "Notify Admin - Provisioning Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary (Reenabled)": {
      "main": [
        [
          {
            "node": "Notify Admin - Provisioning Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - Provisioning Complete": {
      "main": [
        [
          {
            "node": "Workflow End - Provisioning Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Account License": {
      "main": [
        [
          {
            "node": "Get Existing License Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing License Names": {
      "main": [
        [
          {
            "node": "Notify Admin - Duplicate Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License (Reenable Path)": {
      "main": [
        [
          {
            "node": "Check Current Account License (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Current Account License (Reenable Path)": {
      "main": [
        [
          {
            "node": "Evaluate License (Reenable Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-04T01:02:44.900Z",
  "id": "aPDE3V5eNAsqW4zP",
  "isArchived": false,
  "meta": null,
  "name": "365 - New Hire M365 Provisioning (MVP)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "New Hire Account Request",
        "formDescription": "Submit new-hire details to provision their Microsoft 365 account.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "License Type",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Exchange Online (Plan 2) (0 available)"
                  },
                  {
                    "option": "Microsoft 365 Audio Conferencing (2 available)"
                  },
                  {
                    "option": "Microsoft 365 Business Basic (1 available)"
                  },
                  {
                    "option": "Microsoft 365 Business Standard (1 available)"
                  },
                  {
                    "option": "Microsoft 365 Copilot (0 available)"
                  },
                  {
                    "option": "Microsoft Teams Premium (0 available)"
                  },
                  {
                    "option": "OneDrive for Business (Plan 2) (0 available)"
                  },
                  {
                    "option": "Planner and Project Plan 3 (0 available)"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b8e59cf1-1367-45e6-a46b-1633e38f856a",
      "name": "New Hire Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        240,
        288
      ],
      "webhookId": "015c2f57-e6e6-46eb-9bd3-140e942954ff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountEnabled\": true,\n  \"displayName\": \"{{ $('Compute Fields').item.json.displayName }}\",\n  \"mailNickname\": \"{{ $('Compute Fields').item.json.mailNickname }}\",\n  \"userPrincipalName\": \"{{ $('Compute Fields').item.json.userPrincipalName }}\",\n  \"usageLocation\": \"US\",\n  \"passwordProfile\": {\n    \"forceChangePasswordNextSignIn\": true,\n    \"password\": \"{{ $('Compute Fields').item.json.tempPassword }}\"\n  }\n}",
        "options": {}
      },
      "id": "4fc90b91-1f94-483a-9e1b-5ca68b11a305",
      "name": "Create Entra ID User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3376,
        48
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e870973c-5d25-4d60-84bf-0307e48b4332",
              "name": "displayName",
              "type": "string",
              "value": "={{ $json['First Name'].trim() + ' ' + $json['Last Name'].trim() }}"
            },
            {
              "id": "b57ee0c2-cdcc-4ca7-a6cf-a20ed3b81421",
              "name": "mailNickname",
              "type": "string",
              "value": "={{ (() => { const f = $json['First Name'].trim(); const l = $json['Last Name'].trim(); return (f.charAt(0) + l).toLowerCase().replace(/[^a-z0-9]/g, ''); })() }}"
            },
            {
              "id": "7cb30a6c-a772-4c4e-a2bc-7ce75ac8114d",
              "name": "userPrincipalName",
              "type": "string",
              "value": "={{ (() => { const f = $json['First Name'].trim(); const l = $json['Last Name'].trim(); const nick = (f.charAt(0) + l).toLowerCase().replace(/[^a-z0-9]/g, ''); return nick + '@michaelgraves.com'; })() }}"
            },
            {
              "id": "a1505102-c98e-47bb-8c91-6bd6be3a3416",
              "name": "tempPassword",
              "type": "string",
              "value": "={{ 'MGAtemp' + $now.year }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bbae9d6b-1716-45c0-9516-75d50266e0f8",
      "name": "Compute Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}?$select=id,userPrincipalName,accountEnabled",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "35362956-4fb2-4e66-aa56-e4a3845efaa7",
      "name": "Check Existing User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        288
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2850d1f3-d370-4877-bbad-d1de5d9a4984",
              "operator": {
                "name": "filter.operator.equals",
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 404
            }
          ]
        },
        "options": {}
      },
      "id": "9ff5aab5-8072-401b-b7a7-75ab21c1f80e",
      "name": "Does User Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        288
      ]
    },
    {
      "parameters": {
        "command": "=pwsh -NoProfile -NonInteractive -Command \"$ErrorActionPreference = 'Stop'; Connect-ExchangeOnline -CertificateThumbprint '9A5360CF006242900CE0C1636BC63392835DD5D0' -AppId '45c9b518-c0b0-4933-bfff-29ff6c11831a' -Organization 'michaelgravesarchitecture.onmicrosoft.com' -ShowBanner:$false; try { (Get-Mailbox -Identity '{{ $('Compute Fields').item.json.userPrincipalName }}').RecipientTypeDetails } finally { Disconnect-ExchangeOnline -Confirm:$false -ErrorAction SilentlyContinue } \""
      },
      "id": "f87e4428-2623-41ba-bd47-c60b1cc8c9d8",
      "name": "Check Mailbox Type",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1136,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a826ab01-0376-4a82-abce-bfc799eb90a4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "SharedMailbox"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98e1cd4c-cc2c-4a69-95be-29a4f7f1040c",
      "name": "Is Shared Mailbox?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        448
      ]
    },
    {
      "parameters": {
        "command": "=pwsh -NoProfile -NonInteractive -Command \"$ErrorActionPreference = 'Stop'; Connect-ExchangeOnline -CertificateThumbprint '9A5360CF006242900CE0C1636BC63392835DD5D0' -AppId '45c9b518-c0b0-4933-bfff-29ff6c11831a' -Organization 'michaelgravesarchitecture.onmicrosoft.com' -ShowBanner:$false; try { Set-Mailbox -Identity '{{ $('Compute Fields').item.json.userPrincipalName }}' -Type Regular; Write-Output 'Converted' } finally { Disconnect-ExchangeOnline -Confirm:$false -ErrorAction SilentlyContinue } \""
      },
      "id": "2fae6fea-fec0-4cbe-ab5d-0c05ef3ca9f6",
      "name": "Convert Shared Mailbox to Regular",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2704,
        352
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"passwordProfile\": {\n    \"forceChangePasswordNextSignIn\": true,\n    \"password\": \"{{ $('Compute Fields').item.json.tempPassword }}\"\n  }\n}",
        "options": {}
      },
      "id": "3151b13c-6413-42ac-a247-a4ace33e427d",
      "name": "Reset Password",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3152,
        352
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "c0fe8cd7-fa9c-4c84-9acf-bb9e9b7f8c75",
      "name": "Wait for Directory Sync",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2928,
        352
      ],
      "webhookId": "cf050e7f-7cf9-445d-829d-d6652d1cf85a"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountEnabled\": true,\n  \"displayName\": \"{{ $('Compute Fields').item.json.displayName }}\",\n  \"usageLocation\": \"US\"\n}",
        "options": {}
      },
      "id": "647b4c1f-7d04-47d1-83b4-fab9c4c01ae6",
      "name": "Enable and Rename User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3376,
        352
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "itadmin@michaelgraves.com",
        "subject": "Action Required: Possible Duplicate Account - New Hire Provisioning",
        "html": "=<p>Hello,</p>\n<p>The new hire provisioning workflow found that <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}) already has an existing M365 account, and that account is <strong>not</strong> a shared mailbox.</p>\n<p>This indicates a likely duplicate account. Please review before any further action is taken.</p>\n<ul>\n  <li>User Principal Name: {{ $('Compute Fields').item.json.userPrincipalName }}</li>\n  <li>Display Name: {{ $('Compute Fields').item.json.displayName }}</li>\n  <li>Detected Mailbox Type: {{ $('Check Mailbox Type').item.json.stdout.trim() }}</li>\n  <li>Current License(s): {{ $json.existingLicenses.length ? $json.existingLicenses.join(', ') : 'None assigned' }}</li>\n</ul>",
        "options": {}
      },
      "id": "notify-duplicate-nh-1",
      "name": "Notify Admin - Duplicate Account",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2032,
        544
      ],
      "webhookId": "77e88312-7f46-4519-b31c-8593f1538453",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
            }
          ]
        },
        "options": {}
      },
      "id": "check-lic-create-1",
      "name": "Check License (Create Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        48
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst selectedRaw = $('New Hire Form').item.json['License Type'];\nconst selectedList = Array.isArray(selectedRaw) ? selectedRaw : (selectedRaw ? [selectedRaw] : []);\nconst targetFriendlyNames = selectedList.map(s => s.split(' (')[0].trim());\n\nconst items = $input.all();\nconst first = items[0]?.json;\nconst skus = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\nconst licenses = targetFriendlyNames.map(targetFriendlyName => {\n  const sku = skus.find(s => friendlyName(s.skuPartNumber) === targetFriendlyName);\n  if (!sku) {\n    return { licenseName: targetFriendlyName, licenseAvailable: false, availableUnits: 0, skuId: null };\n  }\n  const total = sku.prepaidUnits?.enabled ?? 0;\n  const consumed = sku.consumedUnits ?? 0;\n  const available = total - consumed;\n  return { licenseName: friendlyName(sku.skuPartNumber), licenseAvailable: available > 0, availableUnits: available, skuId: sku.skuId };\n});\n\nconst availableLicenses = licenses.filter(l => l.licenseAvailable);\nconst unavailableLicenses = licenses.filter(l => !l.licenseAvailable);\n\nreturn [{ json: { licenses, availableLicenses, unavailableLicenses, anyAvailable: availableLicenses.length > 0, allAvailable: unavailableLicenses.length === 0 } }];"
      },
      "id": "eval-lic-create-1",
      "name": "Evaluate License (Create Path)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lic-avail-create",
              "leftValue": "={{ $json.allAvailable }}",
              "operator": {
                "operation": "true",
                "type": "boolean",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "license-avail-create-if-1",
      "name": "License Available? (Create Path)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2928,
        48
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "itadmin@michaelgraves.com",
        "subject": "Action Required: No License Available - New Hire (New Account)",
        "html": "=<p>Hello,</p>\n<p>A new M365 account is being created for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}), but the following requested license(s) currently have no available seats:</p>\n<ul>{{ $json.unavailableLicenses.map(l => '<li>' + l.licenseName + '</li>').join('') }}</ul>\n<p>The account will still be created; any other requested license(s) with available seats will be assigned normally. Please purchase/free up seats and assign the above manually.</p>",
        "options": {}
      },
      "id": "notify-no-lic-create-1",
      "name": "Notify Admin - No License (Create Path)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3152,
        112
      ],
      "webhookId": "eedb2ba7-10dd-486a-9fc2-65b17dda37a8",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
            }
          ]
        },
        "options": {}
      },
      "id": "check-lic-reenable-1",
      "name": "Check License (Reenable Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        352
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst selectedRaw = $('New Hire Form').item.json['License Type'];\nconst selectedList = Array.isArray(selectedRaw) ? selectedRaw : (selectedRaw ? [selectedRaw] : []);\nconst targetFriendlyNames = selectedList.map(s => s.split(' (')[0].trim());\n\nconst tenantFirst = $('Check License (Reenable Path)').item.json;\nconst skus = Array.isArray(tenantFirst?.value) ? tenantFirst.value : (Array.isArray(tenantFirst) ? tenantFirst : []);\n\nconst currentFirst = $input.all()[0]?.json;\nconst currentDetails = Array.isArray(currentFirst?.value) ? currentFirst.value : (Array.isArray(currentFirst) ? currentFirst : []);\n\nconst licenses = targetFriendlyNames.map(targetFriendlyName => {\n  const sku = skus.find(s => friendlyName(s.skuPartNumber) === targetFriendlyName);\n  if (!sku) {\n    return { licenseName: targetFriendlyName, licenseAvailable: false, availableUnits: 0, skuId: null, skuPartNumber: null, alreadyAssigned: false };\n  }\n  const total = sku.prepaidUnits?.enabled ?? 0;\n  const consumed = sku.consumedUnits ?? 0;\n  const available = total - consumed;\n  const alreadyAssigned = currentDetails.some(d => d.skuPartNumber === sku.skuPartNumber);\n  return { licenseName: friendlyName(sku.skuPartNumber), licenseAvailable: available > 0, availableUnits: available, skuId: sku.skuId, skuPartNumber: sku.skuPartNumber, alreadyAssigned };\n});\n\nconst availableLicenses = licenses.filter(l => l.licenseAvailable);\nconst unavailableLicenses = licenses.filter(l => !l.licenseAvailable);\n\nconst requestedSkuPartNumbers = licenses.map(l => l.skuPartNumber).filter(Boolean);\nconst licensesToAdd = availableLicenses.filter(l => !l.alreadyAssigned);\nconst licensesToRemove = currentDetails\n  .filter(d => !requestedSkuPartNumbers.includes(d.skuPartNumber))\n  .map(d => ({ skuId: d.skuId, licenseName: friendlyName(d.skuPartNumber) }));\n\nreturn [{ json: { licenses, availableLicenses, unavailableLicenses, licensesToAdd, licensesToRemove, anyAvailable: availableLicenses.length > 0, allAvailable: unavailableLicenses.length === 0, anyChange: licensesToAdd.length > 0 || licensesToRemove.length > 0 } }];"
      },
      "id": "eval-lic-reenable-1",
      "name": "Evaluate License (Reenable Path)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lic-avail-reenable",
              "leftValue": "={{ $json.allAvailable }}",
              "operator": {
                "operation": "true",
                "type": "boolean",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "license-avail-reenable-if-1",
      "name": "License Available? (Reenable Path)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        352
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "itadmin@michaelgraves.com",
        "subject": "Action Required: No License Available - New Hire (Reenabled Account)",
        "html": "=<p>Hello,</p>\n<p>An existing M365 mailbox is being converted/reenabled for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}), but the following requested license(s) currently have no available seats:</p>\n<ul>{{ $json.unavailableLicenses.map(l => '<li>' + l.licenseName + '</li>').join('') }}</ul>\n<p>The account will still be reenabled; any other requested license(s) with available seats will be assigned normally. Please purchase/free up seats and assign the above manually.</p>",
        "options": {}
      },
      "id": "notify-no-lic-reenable-1",
      "name": "Notify Admin - No License (Reenable Path)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2480,
        432
      ],
      "webhookId": "f066f7db-3e3d-4742-94e5-b99448cd3e06",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sum-c-1",
              "name": "accountStatus",
              "type": "string",
              "value": "Created"
            },
            {
              "id": "sum-c-2",
              "name": "licenseNames",
              "type": "string",
              "value": "={{ $('Evaluate License (Create Path)').item.json.licenses.map(l => l.licenseName).join(', ') || 'None requested' }}"
            },
            {
              "id": "sum-c-3",
              "name": "licensesAssigned",
              "type": "string",
              "value": "={{ $('Evaluate License (Create Path)').item.json.availableLicenses.map(l => l.licenseName).join(', ') || 'None' }}"
            },
            {
              "id": "sum-c-4",
              "name": "anyLicenseUnavailable",
              "type": "boolean",
              "value": "={{ $('Evaluate License (Create Path)').item.json.unavailableLicenses.length > 0 }}"
            },
            {
              "id": "sum-c-5",
              "name": "licensesRemoved",
              "type": "string",
              "value": "None"
            }
          ]
        },
        "options": {}
      },
      "id": "build-summary-create-1",
      "name": "Build Summary (Created)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sum-r-1",
              "name": "accountStatus",
              "type": "string",
              "value": "Reenabled"
            },
            {
              "id": "sum-r-2",
              "name": "licenseNames",
              "type": "string",
              "value": "={{ $('Evaluate License (Reenable Path)').item.json.licenses.map(l => l.licenseName).join(', ') || 'None requested' }}"
            },
            {
              "id": "sum-r-3",
              "name": "licensesAssigned",
              "type": "string",
              "value": "={{ $('Evaluate License (Reenable Path)').item.json.availableLicenses.map(l => l.licenseName).join(', ') || 'None' }}"
            },
            {
              "id": "sum-r-4",
              "name": "anyLicenseUnavailable",
              "type": "boolean",
              "value": "={{ $('Evaluate License (Reenable Path)').item.json.unavailableLicenses.length > 0 }}"
            },
            {
              "id": "sum-r-5",
              "name": "licensesRemoved",
              "type": "string",
              "value": "={{ $('Evaluate License (Reenable Path)').item.json.licensesToRemove.map(l => l.licenseName).join(', ') || 'None' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "build-summary-reenable-1",
      "name": "Build Summary (Reenabled)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        352
      ]
    },
    {
      "parameters": {},
      "id": "workflow-end-summary-1",
      "name": "Workflow End - Provisioning Summary",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4496,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "was-lic-avail-create",
              "operator": {
                "name": "filter.operator.true",
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Evaluate License (Create Path)').item.json.anyAvailable }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b1e4a3f2-6c8d-4a1b-9e3f-2d5c7a9b1e04",
      "name": "Was License Available? (Create Path)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3600,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/assignLicense",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLicenses\": {{ JSON.stringify($('Evaluate License (Create Path)').item.json.availableLicenses.map(l => ({ skuId: l.skuId }))) }},\n  \"removeLicenses\": []\n}",
        "options": {}
      },
      "id": "c2f5b4a3-7d9e-4b2c-af40-3e6d8b0c2f15",
      "name": "Assign License (Create Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3824,
        -80
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "was-lic-avail-reenable",
              "operator": {
                "name": "filter.operator.true",
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Evaluate License (Reenable Path)').item.json.anyChange }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d3064c54-8eaf-4c3d-b051-4f7e9c1d3026",
      "name": "Was License Available? (Reenable Path)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3600,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/assignLicense",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLicenses\": {{ JSON.stringify($('Evaluate License (Reenable Path)').item.json.licensesToAdd.map(l => ({ skuId: l.skuId }))) }},\n  \"removeLicenses\": {{ JSON.stringify($('Evaluate License (Reenable Path)').item.json.licensesToRemove.map(l => l.skuId)) }}\n}",
        "options": {}
      },
      "id": "e4175d65-9fb0-4d4e-8162-5f8fad2e4137",
      "name": "Assign License (Reenable Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3824,
        240
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "itadmin@michaelgraves.com",
        "subject": "New Hire M365 Provisioning Complete",
        "html": "=<p>Hello,</p>\n<p>M365 provisioning finished for <strong>{{ $('Compute Fields').item.json.displayName }}</strong> ({{ $('Compute Fields').item.json.userPrincipalName }}).</p>\n<ul>\n  <li>Result: {{ $json.accountStatus }}</li>\n  <li>Licensed: {{ $json.licensesAssigned !== 'None' ? 'Yes' : 'No' }}</li>\n  <li>License(s): {{ $json.licensesAssigned }}{{ $json.anyLicenseUnavailable ? ' (some requested licenses unavailable - see prior alert)' : '' }}</li>\n  <li>Requested: {{ $json.licenseNames }}</li>\n  {{ $json.licensesRemoved && $json.licensesRemoved !== 'None' ? '<li>Removed: ' + $json.licensesRemoved + '</li>' : '' }}\n</ul>",
        "options": {}
      },
      "id": "f5286e76-a0c1-4e5f-9273-609abe3f5248",
      "name": "Notify Admin - Provisioning Complete",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4272,
        192
      ],
      "webhookId": "b15a0722-1170-41b0-845b-4ab96e6c0a63",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/licenseDetails",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "a6b3c8d2-1e4f-4a7b-8c92-3d5e7f9a1b04",
      "name": "Check Existing Account License",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        544
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const SKU_FRIENDLY_NAMES = {\n  'SPE_E3': 'Microsoft 365 E3',\n  'SPE_E5': 'Microsoft 365 E5',\n  'SPE_F1': 'Microsoft 365 F3',\n  'SPB': 'Microsoft 365 Business Premium',\n  'O365_BUSINESS_PREMIUM': 'Microsoft 365 Business Standard',\n  'O365_BUSINESS_ESSENTIALS': 'Microsoft 365 Business Basic',\n  'ENTERPRISEPACK': 'Office 365 E3',\n  'ENTERPRISEPREMIUM': 'Office 365 E5',\n  'ENTERPRISEWITHSCAL': 'Office 365 E4',\n  'STANDARDPACK': 'Office 365 E1',\n  'DESKLESSPACK': 'Office 365 F3',\n  'EXCHANGEENTERPRISE': 'Exchange Online (Plan 2)',\n  'EXCHANGESTANDARD': 'Exchange Online (Plan 1)',\n  'EMS': 'Enterprise Mobility + Security E3',\n  'EMSPREMIUM': 'Enterprise Mobility + Security E5',\n  'AAD_PREMIUM': 'Microsoft Entra ID P1',\n  'AAD_PREMIUM_P2': 'Microsoft Entra ID P2',\n  'FLOW_FREE': 'Microsoft Power Automate Free',\n  'MCOMEETADV': 'Microsoft 365 Audio Conferencing',\n  'Microsoft_365_Copilot': 'Microsoft 365 Copilot',\n  'Microsoft_Teams_Premium': 'Microsoft Teams Premium',\n  'POWER_BI_STANDARD': 'Power BI (free)',\n  'Power_Pages_vTrial_for_Makers': 'Power Pages vTrial for Makers',\n  'PROJECTPROFESSIONAL': 'Planner and Project Plan 3',\n  'RIGHTSMANAGEMENT_ADHOC': 'Azure Information Protection (Ad Hoc)',\n  'Teams_Premium_(for_Departments)': 'Teams Premium (for Departments)',\n  'WACONEDRIVEENTERPRISE': 'OneDrive for Business (Plan 2)'\n};\n\nfunction genericTitleCase(skuPartNumber) {\n  return skuPartNumber\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map(word => {\n      if (!word) return word;\n      const isAcronym = word.length <= 4 && word === word.toUpperCase() && /^[A-Z0-9]+$/.test(word);\n      if (isAcronym) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();\n    })\n    .join(' ');\n}\n\nfunction friendlyName(skuPartNumber) {\n  if (SKU_FRIENDLY_NAMES[skuPartNumber]) return SKU_FRIENDLY_NAMES[skuPartNumber];\n  return genericTitleCase(skuPartNumber);\n}\n\nconst items = $input.all();\nconst first = items[0]?.json;\nconst details = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\nconst existingLicenses = details.map(d => friendlyName(d.skuPartNumber));\n\nreturn [{ json: { existingLicenses } }];"
      },
      "id": "b7c4d9e3-2f5a-4b8c-9d03-4e6f8a0b2c15",
      "name": "Get Existing License Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        544
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Compute Fields').item.json.userPrincipalName }}/licenseDetails",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "c8d5e0f4-3a6b-4c9d-a184-5f7b9c1d3e26",
      "name": "Check Current Account License (Reenable Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        352
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "HeTzgsWuLZnUmQjH",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-07-04T01:02:44.916Z",
      "createdAt": "2026-07-04T01:02:44.916Z",
      "role": "workflow:owner",
      "workflowId": "aPDE3V5eNAsqW4zP",
      "projectId": "RmOilgTSaNq34WG7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-06T05:00:36.628Z",
  "versionId": "dca40ec0-9e64-4045-9d7c-80021eaddcaf"
}