workflows/2026/07/FC1daU9vBEFgD4W6.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Upload Files": {
      "main": [
        [
          {
            "node": "Extract Spreadsheet Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Spreadsheet Rows": {
      "main": [
        [
          {
            "node": "Normalize BU Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Unique Reporters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Unique Reporters": {
      "main": [
        [
          {
            "node": "LDAP Exact Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP Exact Match": {
      "main": [
        [
          {
            "node": "Route Tier1 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Tier1 Result": {
      "main": [
        [
          {
            "node": "IF Tier1 Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tier1 Resolved": {
      "main": [
        [
          {
            "node": "Merge Non-Ambiguous Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Tier1 Ambiguous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tier1 Ambiguous": {
      "main": [
        [
          {
            "node": "Merge Ambiguous Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LDAP Wildcard Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP Wildcard Match": {
      "main": [
        [
          {
            "node": "Route Tier3 Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Tier3 Result": {
      "main": [
        [
          {
            "node": "IF Tier3 Ambiguous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tier3 Ambiguous": {
      "main": [
        [
          {
            "node": "Merge Ambiguous Sources",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge Non-Ambiguous Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Non-Ambiguous Sources": {
      "main": [
        [
          {
            "node": "Build Reporter Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reporter Lookup": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Invoice Line Items": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Parse Line Items (Regex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Line Items (Regex)": {
      "main": [
        [
          {
            "node": "Validate Invoice Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ambiguous Sources": {
      "main": [
        [
          {
            "node": "Flag Ambiguous Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Ambiguous Matches": {
      "main": [
        [
          {
            "node": "Merge Non-Ambiguous Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Final Report": {
      "main": [
        [
          {
            "node": "Show Split Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-16T23:59:25.574Z",
  "id": "FC1daU9vBEFgD4W6",
  "isArchived": false,
  "meta": null,
  "name": "MGA Help Desk Invoice Split",
  "nodeGroups": [],
  "nodes": [
    {
      "parameters": {
        "formTitle": "MGA Help Desk Invoice Split",
        "formDescription": "Upload the monthly resolved-issues spreadsheet and the PRLX invoice PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "SpreadsheetFile",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "InvoicePDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "c6aaee46-d2ca-48aa-a963-6fa740ee4afd",
      "name": "Upload Files",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -2704,
        368
      ],
      "webhookId": "ad296f96-ba79-44b7-8127-e4e75e4ace20"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "SpreadsheetFile",
        "options": {
          "sheetName": "Your Jira Issues"
        }
      },
      "id": "aa0be501-6958-4502-a6be-c12d5d412a16",
      "name": "Extract Spreadsheet Rows",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2464,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => String(item.json['Key'] ?? '').trim() !== '')\n  .map(item => {\n    const j = item.json;\n    return { json: {\n      key: j['Key'],\n      reporter: String(j['Reporter'] ?? '').trim(),\n      businessUnit: String(j['Business Unit'] ?? '').trim(),\n      hours: Number(j['Time Spent (Hours)'] ?? 0)\n    } };\n  });"
      },
      "id": "d2891196-db90-4ae5-8882-6286d0dc7623",
      "name": "Normalize BU Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Map();\nitems.forEach((item, idx) => {\n  const reporter = String(item.json['Reporter'] ?? '').trim();\n  if (reporter && !seen.has(reporter)) seen.set(reporter, idx);\n});\nreturn Array.from(seen.entries()).map(([reporter, idx]) => ({\n  json: { reporterValue: reporter, isEmail: reporter.includes('@') },\n  pairedItem: idx\n}));"
      },
      "id": "68de7b17-9f5c-4997-aa5e-cccbedc325cc",
      "name": "List Unique Reporters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        48
      ]
    },
    {
      "parameters": {
        "baseDN": "DC=MGA,DC=com",
        "searchFor": "(objectclass=top)",
        "attribute": "={{ $json.isEmail ? 'mail' : 'displayName' }}",
        "searchText": "={{ $json.reporterValue }}",
        "returnAll": true,
        "options": {
          "attributes": [
            "dn",
            "mail",
            "displayName",
            "company"
          ]
        }
      },
      "id": "1fb11abc-3c47-4d31-954f-5e79f0a06991",
      "name": "LDAP Exact Match",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -2016,
        48
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst groups = new Map();\nitems.forEach((item, idx) => {\n  const key = (item.pairedItem && typeof item.pairedItem.item === 'number') ? item.pairedItem.item : idx;\n  if (!groups.has(key)) groups.set(key, []);\n  groups.get(key).push({ json: item.json, idx });\n});\nconst output = [];\nfor (const group of groups.values()) {\n  const rep = $('List Unique Reporters').itemMatching(group[0].idx).json;\n  const valid = group.map(g => g.json).filter(j => j && j.dn);\n  let result;\n  if (valid.length === 0) {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'needsTier3' };\n  } else if (valid.length === 1) {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'resolved', company: valid[0].company || null, matchType: 'exact', flag: null };\n  } else {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'ambiguous', candidates: valid, matchType: 'ambiguous_exact' };\n  }\n  output.push({ json: result, pairedItem: group[0].idx });\n}\nreturn output;"
      },
      "id": "85be0d8e-687d-4f4c-84a6-5f357fa2fdbe",
      "name": "Route Tier1 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "t1-resolved",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "resolved"
            }
          ]
        },
        "options": {}
      },
      "id": "ffa56fac-5807-46a3-86b1-b32f254428c1",
      "name": "IF Tier1 Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "t1-ambiguous",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "ambiguous"
            }
          ]
        },
        "options": {}
      },
      "id": "eb6d1a4a-94c4-4018-9b85-31e2cb116ee5",
      "name": "IF Tier1 Ambiguous",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        112
      ]
    },
    {
      "parameters": {
        "baseDN": "DC=MGA,DC=com",
        "searchFor": "custom",
        "customFilter": "={{ \"(&(objectClass=top)(\" + ($json.isEmail ? \"mail\" : \"displayName\") + \"=*\" + $json.reporterValue + \"*))\" }}",
        "returnAll": true,
        "options": {
          "attributes": [
            "dn",
            "mail",
            "displayName",
            "company"
          ]
        }
      },
      "id": "a429e41d-c140-4d05-96c2-613bceaef6eb",
      "name": "LDAP Wildcard Match",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -1136,
        256
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst groups = new Map();\nitems.forEach((item, idx) => {\n  const key = (item.pairedItem && typeof item.pairedItem.item === 'number') ? item.pairedItem.item : idx;\n  if (!groups.has(key)) groups.set(key, []);\n  groups.get(key).push({ json: item.json, idx });\n});\nconst output = [];\nfor (const group of groups.values()) {\n  const rep = $('List Unique Reporters').itemMatching(group[0].idx).json;\n  const valid = group.map(g => g.json).filter(j => j && j.dn);\n  let result;\n  if (valid.length === 0) {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'final', company: null, matchType: 'no_match', flag: 'AD lookup failed - no match found (exact or wildcard). Used spreadsheet Business Unit value.' };\n  } else if (valid.length === 1) {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'final', company: valid[0].company || null, matchType: 'fuzzy', flag: 'Fuzzy AD match on wildcard name search - verify.' };\n  } else {\n    result = { reporterValue: rep.reporterValue, isEmail: rep.isEmail, status: 'ambiguous', candidates: valid, matchType: 'ambiguous_wildcard' };\n  }\n  output.push({ json: result, pairedItem: group[0].idx });\n}\nreturn output;"
      },
      "id": "7a0463c5-5657-4209-9ea8-9e86351feed8",
      "name": "Route Tier3 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "t3-ambiguous",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "ambiguous"
            }
          ]
        },
        "options": {}
      },
      "id": "310105e1-46d9-4089-bdeb-4e785ab42c0b",
      "name": "IF Tier3 Ambiguous",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        256
      ]
    },
    {
      "parameters": {},
      "id": "5d7686f8-b0b3-4336-95a3-3cad18b4c895",
      "name": "Merge Ambiguous Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        112
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "7c9fb32b-7474-447b-806e-f9245e641814",
      "name": "Merge Non-Ambiguous Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const lookupMap = {};\nconst flags = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  lookupMap[j.reporterValue] = { company: j.company || null, matchType: j.matchType, flag: j.flag || null };\n  if (j.matchType && j.matchType !== 'exact') flags.push({ reporter: j.reporterValue, matchType: j.matchType, flag: j.flag });\n}\nreturn [{ json: { lookupMap, flags } }];"
      },
      "id": "74fbadb7-b347-45a2-9d3a-6138f3bafc3c",
      "name": "Build Reporter Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        16
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "InvoicePDF",
        "options": {}
      },
      "id": "a98cba0f-2fb5-4a82-a5b8-ab6e5467560f",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1136,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const lineItems = $json.lineItems || $json.output?.lineItems || [];\nconst relevant = lineItems.filter(li => Math.abs(Number(li.currentAmount)) > 0.001);\nlet needsManualReview = false, invoiceTotal = null, invoiceHours = null, note = '';\nif (relevant.length !== 1) {\n  needsManualReview = true;\n  note = 'Expected exactly 1 non-zero line item, found ' + relevant.length + '. Manual review required - cannot auto-split.';\n} else {\n  invoiceTotal = Number(relevant[0].currentAmount);\n  const m = String(relevant[0].description).match(/([\\d.]+)\\s*Hours?/i);\n  invoiceHours = m ? parseFloat(m[1]) : null;\n  if (invoiceHours === null) {\n    needsManualReview = true;\n    note = 'Could not parse hours from line item description: \"' + relevant[0].description + '\"';\n  }\n}\nreturn [{ json: { needsManualReview, invoiceTotal, invoiceHours, note, allLineItems: lineItems } }];"
      },
      "id": "37fee88d-64c9-4a52-ba0c-a834101b8e26",
      "name": "Validate Invoice Line Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        480
      ]
    },
    {
      "parameters": {},
      "id": "1595d652-41db-47a8-b30c-f33db6d8d3f4",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Normalize BU Rows').all().map(i => i.json);\nconst lookup = $('Build Reporter Lookup').first().json.lookupMap;\nconst invoice = $('Validate Invoice Line Items').first().json;\n\nconst mismatches = [];\nconst lookupNotes = [];\nconst hoursByBU = {};\n\nfor (const row of rows) {\n  const entry = lookup[row.reporter] || { company: null, matchType: 'no_match', flag: 'Reporter not looked up' };\n  const adBU = entry.company;\n  const sheetBU = row.businessUnit;\n  const finalBU = adBU || sheetBU || 'UNKNOWN';\n\n  if (adBU && sheetBU && adBU !== sheetBU) {\n    mismatches.push({ key: row.key, reporter: row.reporter, spreadsheetBU: sheetBU, adBU, note: 'AD company differs from spreadsheet Business Unit - using AD value, spreadsheet not auto-corrected.' });\n  }\n  if (entry.matchType && entry.matchType !== 'exact') {\n    lookupNotes.push({ key: row.key, reporter: row.reporter, matchType: entry.matchType, flag: entry.flag });\n  }\n\n  hoursByBU[finalBU] = (hoursByBU[finalBU] || 0) + Number(row.hours || 0);\n}\n\nconst totalHours = Object.values(hoursByBU).reduce((a, b) => a + b, 0);\nconst sheetHoursSum = rows.reduce((a, r) => a + Number(r.hours || 0), 0);\n\nconst sanityCheck = {\n  spreadsheetHoursTotal: sheetHoursSum,\n  invoiceHours: invoice.invoiceHours,\n  hoursMatch: invoice.invoiceHours !== null && Math.abs(sheetHoursSum - invoice.invoiceHours) < 0.01\n};\n\nlet splits = [];\nif (!invoice.needsManualReview && invoice.invoiceTotal !== null && totalHours > 0) {\n  splits = Object.entries(hoursByBU).map(([bu, hours]) => ({\n    businessUnit: bu,\n    hours,\n    percent: hours / totalHours,\n    amount: Math.round((hours / totalHours) * invoice.invoiceTotal * 100) / 100\n  }));\n}\n\nlet summaryHtml;\nif (invoice.needsManualReview) {\n  summaryHtml = '<h2>Manual Review Needed</h2><p>' + invoice.note + '</p>';\n} else {\n  const sortedSplits = [...splits].sort((a, b) => a.businessUnit.localeCompare(b.businessUnit));\n  const grandTotalHours = sortedSplits.reduce((a, s) => a + s.hours, 0);\n  const grandTotalAmount = sortedSplits.reduce((a, s) => a + s.amount, 0);\n  const splitRows = sortedSplits.map(s => '<tr><td>' + s.businessUnit + '</td><td class=\"hrs\">' + s.hours + '</td><td>$' + s.amount.toFixed(2) + '</td></tr>').join('');\n  const mismatchItems = mismatches.map(m => '<li>' + m.key + ' (' + m.reporter + '): spreadsheet says ' + m.spreadsheetBU + ', AD says ' + m.adBU + '</li>').join('');\n  const noteItems = lookupNotes.map(n => '<li>' + n.key + ' (' + n.reporter + '): ' + n.flag + '</li>').join('');\n  const tableStyle = '<style>' +\n    'table.split-table { border-collapse:collapse; margin:0 auto; font-size:16px; }' +\n    'table.split-table th, table.split-table td { padding:10px 16px; border:1px solid #ccc; }' +\n    'table.split-table th { background:#eef1f5; }' +\n    'table.split-table td.hrs { text-align:center; }' +\n    'table.split-table tr.grand-total { background:#f5f5f5; }' +\n    '</style>';\n  summaryHtml = tableStyle + '<h2>MGA Help Desk Invoice Split</h2>' +\n    '<table class=\"split-table\"><tr><th>Studio</th><th>Hours</th><th>Split</th></tr>' + splitRows + '<tr class=\"grand-total\"><td><strong>Grand Total</strong></td><td class=\"hrs\"><strong>' + grandTotalHours + '</strong></td><td><strong>$' + grandTotalAmount.toFixed(2) + '</strong></td></tr></table>' +\n    (sanityCheck.hoursMatch ? '' : '<p><strong>WARNING:</strong> spreadsheet hours (' + sanityCheck.spreadsheetHoursTotal + ') do not match invoice hours (' + sanityCheck.invoiceHours + ')</p>') +\n    (mismatches.length ? '<h3>Business Unit Mismatches (AD vs spreadsheet)</h3><ul>' + mismatchItems + '</ul>' : '') +\n    (lookupNotes.length ? '<h3>Lookup Notes (verify)</h3><ul>' + noteItems + '</ul>' : '');\n}\n\nreturn [{ json: {\n  needsManualReview: invoice.needsManualReview,\n  reviewNote: invoice.note,\n  invoiceTotal: invoice.invoiceTotal,\n  splits,\n  sanityCheck,\n  mismatches,\n  lookupNotes,\n  summaryHtml\n} }];"
      },
      "id": "5e4b85a5-b835-48e6-9ffb-9853d04bcb9d",
      "name": "Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nconst lines = text.split(/\\r?\\n/).map(l => l.trim()).filter(Boolean);\n\nconst numTok = '[\\\\d,]+\\\\.\\\\d{2}';\nconst rowRe = new RegExp('^(.*?)\\\\s+(' + numTok + ')\\\\s+(' + numTok + ')\\\\s+(' + numTok + ')\\\\s+(' + numTok + ')\\\\s+(' + numTok + ')$');\nconst stopMarkers = ['Total Fee', 'SUBTOTAL', 'AMOUNT DUE', 'Outstanding Invoices'];\n\nconst lineItems = [];\nfor (const line of lines) {\n  if (stopMarkers.some(m => line.startsWith(m))) break;\n  const m = line.match(rowRe);\n  if (!m) continue;\n  const description = m[1].trim();\n  const currentAmount = parseFloat(m[6].replace(/,/g, ''));\n  lineItems.push({ description, currentAmount });\n}\n\nreturn [{ json: { lineItems } }];"
      },
      "id": "c9fa7771-fb16-49be-82ab-67b15aa35cbb",
      "name": "Parse Line Items (Regex)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $json;\nconst count = Array.isArray(j.candidates) ? j.candidates.length : 0;\nreturn {\n  json: {\n    reporterValue: j.reporterValue,\n    isEmail: j.isEmail,\n    company: null,\n    matchType: 'ambiguous',\n    flag: 'Ambiguous AD match (' + count + ' candidates) - manual review needed. Used spreadsheet Business Unit value.'\n  }\n};"
      },
      "id": "9532e733-2fc4-4e37-9f26-be0126a2f1ff",
      "name": "Flag Ambiguous Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        208
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $json.summaryHtml }}"
      },
      "id": "3a5f78d7-1ae1-4f4b-89e9-2853e8f60d69",
      "name": "Show Split Result",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        928,
        208
      ],
      "webhookId": "b132afce-1c9d-49d0-a0bd-3ba6bf9b4b47"
    }
  ],
  "pinData": {
    "Upload Files": [
      {
        "json": {
          "SpreadsheetFile": [
            {
              "filename": "PHD- Resolved Issues- MGA- 2026 May.xlsx",
              "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "size": 156073
            }
          ],
          "InvoicePDF": [
            {
              "filename": "Invoice 1343 MGA Help Desk May.pdf",
              "mimetype": "application/pdf",
              "size": 128035
            }
          ],
          "submittedAt": "2026-07-07T16:08:34.750-04:00",
          "formMode": "production"
        },
        "binary": {
          "SpreadsheetFile": {
            "mimeType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "fileExtension": "xlsx",
            "data": "filesystem-v2",
            "fileName": "PHD- Resolved Issues- MGA- 2026 May.xlsx",
            "id": "filesystem-v2:workflows/cgPFX9l1U17TrZAp/executions/252/binary_data/628eb478-9622-45c1-b7d2-dd5084caf0e8",
            "fileSize": "156 kB",
            "bytes": 156073
          },
          "InvoicePDF": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Invoice 1343 MGA Help Desk May.pdf",
            "id": "filesystem-v2:workflows/cgPFX9l1U17TrZAp/executions/252/binary_data/5a076786-9745-49e6-a5e2-6b31e75500b0",
            "fileSize": "128 kB",
            "bytes": 128035
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-07-16T23:59:25.576Z",
      "createdAt": "2026-07-16T23:59:25.576Z",
      "role": "workflow:owner",
      "workflowId": "FC1daU9vBEFgD4W6",
      "projectId": "9efpp4J5DO3tFlq4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-17T13:49:24.187Z",
  "versionId": "ecacb731-487d-4a9d-9a1b-22ef6c593d45"
}