workflows/2026/07/lm97gEt8YucGk2KE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Set Email Input": {
      "main": [
        [
          {
            "node": "Check Users (All Types)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Users (All Types)": {
      "main": [
        [
          {
            "node": "Consolidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License Availability": {
      "main": [
        [
          {
            "node": "Evaluate License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate License": {
      "main": [
        [
          {
            "node": "License Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "License Available?": {
      "main": [
        [
          {
            "node": "Set Email Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin - No License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - No License": {
      "main": [
        [
          {
            "node": "Set Email Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Email Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "Account Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Input1": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Exists?": {
      "main": [
        [
          {
            "node": "Get Mailbox Settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mailbox Settings": {
      "main": [
        [
          {
            "node": "Is Shared Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-03T00:24:46.986Z",
  "id": "lm97gEt8YucGk2KE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "M365 User Provisioning",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "5592a28a-e340-483f-b5d5-a74bc9b16c2a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -1248,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-assign",
              "name": "emailToCheck",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85d7cf36-337c-4bc2-9c4c-6deca618efa3",
      "name": "Set Email Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -640
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "={{ \"mail eq '\" + $('Set Email Input').item.json.emailToCheck + \"' or userPrincipalName eq '\" + $('Set Email Input').item.json.emailToCheck + \"' or proxyAddresses/any(a:a eq 'smtp:\" + $('Set Email Input').item.json.emailToCheck + \"')\" }}"
            },
            {
              "name": "$select",
              "value": "id,displayName,mail,userPrincipalName,mailNickname,userType,accountEnabled,isResourceAccount,assignedLicenses,onPremisesSyncEnabled,proxyAddresses,userPurpose"
            },
            {
              "name": "$count",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ConsistencyLevel",
              "value": "eventual"
            }
          ]
        },
        "options": {}
      },
      "id": "ea48c264-c8dc-446f-ae60-2ebf63e67d1a",
      "name": "Check Users (All Types)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        -640
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "t8BCD8pP06ajRhfw",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const matches = [];\nconst seenIds = new Set();\n\nfunction safeEmail() {\n  try {\n    return $('Set Email Input').first().json.emailToCheck.toLowerCase();\n  } catch(e) {\n    return '';\n  }\n}\n\nconst email = safeEmail();\n\nfunction addMatch(obj) {\n  if (!obj || !obj.id) return;\n  if (seenIds.has(obj.id)) return;\n  seenIds.add(obj.id);\n  matches.push(obj);\n}\n\n// ─────────────────────────────────────────────\n// USERS — covers all user-based account types:\n// Active, Shared Mailbox, Room, Equipment,\n// Guest, Hybrid, Disabled, Licensed/Unlicensed\n// ─────────────────────────────────────────────\nfunction safeGet(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    if (!items || items.length === 0) return [];\n    const first = items[0].json;\n    return first?.value || (first?.id ? [first] : []);\n  } catch (e) {\n    return [];\n  }\n}\n\nfor (const u of safeGet('Check Users (All Types)')) {\n  const hasLicense  = u.assignedLicenses?.length > 0;\n  const isResource  = u.isResourceAccount === true;\n  const isGuest     = u.userType === 'Guest';\n  const isHybrid    = u.onPremisesSyncEnabled === true;\n  const isDisabled  = u.accountEnabled === false;\n  const purpose     = u.userPurpose?.toLowerCase();\n\n  let accountType;\n  if (purpose === 'shared')              accountType = 'Shared Mailbox';\n  else if (purpose === 'room')           accountType = 'Room Mailbox';\n  else if (purpose === 'equipment')      accountType = 'Equipment Mailbox';\n  else if (isGuest)                      accountType = 'Guest User';\n  else if (isResource && hasLicense)     accountType = 'Licensed Resource Account';\n  else if (isResource)                   accountType = 'Resource Account';\n  else if (isDisabled && !hasLicense)    accountType = 'Disabled Unlicensed User';\n  else if (isDisabled)                   accountType = 'Disabled User';\n  else if (isHybrid && hasLicense)       accountType = 'Hybrid AD User (Synced)';\n  else if (isHybrid)                     accountType = 'Hybrid AD User (Unlicensed)';\n  else if (hasLicense)                   accountType = 'Active Licensed User';\n  else                                   accountType = 'Unlicensed User';\n\n  addMatch({\n    accountType,\n    id: u.id,\n    displayName: u.displayName,\n    mail: u.mail,\n    userPrincipalName: u.userPrincipalName,\n    mailNickname: u.mailNickname,\n    accountEnabled: u.accountEnabled,\n    userPurpose: u.userPurpose || null,\n    isResourceAccount: u.isResourceAccount,\n    onPremisesSyncEnabled: u.onPremisesSyncEnabled,\n    assignedLicenses: u.assignedLicenses,\n    proxyAddresses: u.proxyAddresses,\n    raw: u\n  });\n}\n\n// ─────────────────────────────────────────────\n// FINAL OUTPUT\n// ─────────────────────────────────────────────\nreturn [{\n  json: {\n    emailChecked: email,\n    accountExists: matches.length > 0,\n    matchCount: matches.length,\n    accountTypes: [...new Set(matches.map(m => m.accountType))],\n    matches\n  }\n}];\n"
      },
      "id": "fe525628-71e4-4623-bd0b-9f8ed63a3aaf",
      "name": "Consolidate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -640
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/subscribedSkus",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$select",
              "value": "skuId,skuPartNumber,consumedUnits,capabilityStatus,prepaidUnits"
            }
          ]
        },
        "options": {}
      },
      "id": "d603ea1c-7ebd-487b-97a7-7dd2f396c338",
      "name": "Check License Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1104,
        -624
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "t8BCD8pP06ajRhfw",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Microsoft 365 Business Standard SKU part number\nconst TARGET_SKU = 'EXCHANGEENTERPRISE';\n\nconst items = $input.all();\nconst first = items[0]?.json;\n// Handle both direct value array and nested response\nconst skus = Array.isArray(first?.value) ? first.value : (Array.isArray(first) ? first : []);\n\n// Find the target SKU\nconst sku = skus.find(s => s.skuPartNumber === TARGET_SKU);\n\nif (!sku) {\n  return [{\n    json: {\n      licenseFound: false,\n      licenseName: 'Exchange Online (Plan 2)',\n      skuPartNumber: TARGET_SKU,\n      available: false,\n      availableUnits: 0,\n      totalUnits: 0,\n      consumedUnits: 0,\n      capabilityStatus: null,\n      message: 'SKU not found in tenant — license may not be purchased'\n    }\n  }];\n}\n\nconst total    = sku.prepaidUnits?.enabled ?? 0;\nconst consumed = sku.consumedUnits ?? 0;\nconst available = total - consumed;\n\nreturn [{\n  json: {\n    licenseFound: true,\n    licenseName: 'Exchange Online (Plan 2)',\n    skuPartNumber: TARGET_SKU,\n    skuId: sku.skuId,\n    available: available > 0,\n    availableUnits: available,\n    totalUnits: total,\n    consumedUnits: consumed,\n    capabilityStatus: sku.capabilityStatus,\n    message: available > 0\n      ? `${available} license(s) available`\n      : 'No licenses available — all seats are consumed'\n  }\n}];\n"
      },
      "id": "cd2a04eb-ed45-4122-ba12-504709d9bf39",
      "name": "Evaluate License",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "license-check",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "operation": "true",
                "type": "boolean",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f7071da-12ec-4c77-8816-a3b6a668ba3c",
      "name": "License Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -624
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "cfrazier@michaelgraves.com",
        "subject": "Action Required: M365 License Needed",
        "html": "=<p>Hello,</p>\n<p>We have a need for $numberOfLicenses additional $licenseName license(s).</p>\n<p>Please purchase and assign to the user(s) below.</p>\n<ul>\n  <li>$userOne</li>\n  <li>$userTwo</li>\n  <li>$userThree</li>\n</ul>",
        "options": {}
      },
      "id": "9803e8cc-4393-4f23-b9a4-9af6cdc34b92",
      "name": "Notify Admin - No License",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -528,
        -528
      ],
      "webhookId": "83e3582e-b2f6-403f-85c6-4a253266e56e",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "={{ \"mail eq '\" + $('Set Email Input1').item.json.emailToCheck + \"' or userPrincipalName eq '\" + $('Set Email Input1').item.json.emailToCheck + \"' or proxyAddresses/any(a:a eq 'smtp:\" + $('Set Email Input1').item.json.emailToCheck + \"')\" }}"
            },
            {
              "name": "$select",
              "value": "id,displayName,mail,userPrincipalName,mailNickname,userType,accountEnabled,isResourceAccount,assignedLicenses,onPremisesSyncEnabled,proxyAddresses,userPurpose"
            },
            {
              "name": "$count",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ConsistencyLevel",
              "value": "eventual"
            }
          ]
        },
        "options": {}
      },
      "id": "4ce4d40e-0971-494c-ac41-27089170116a",
      "name": "Check User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -720,
        -48
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "t8BCD8pP06ajRhfw",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-assign",
              "name": "emailToCheck",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eea93407-a542-4ce5-ac98-52538af39e6b",
      "name": "Set Email Input1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "account-check",
              "leftValue": "={{ $json.value.length }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          }
        },
        "options": {}
      },
      "id": "if-account-1",
      "name": "Account Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "shared-check",
              "leftValue": "={{ $json.userPurpose }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "shared"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-shared-1",
      "name": "Is Shared Account?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -192
      ]
    },
    {
      "parameters": {},
      "id": "create-account-1",
      "name": "Create Account",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://graph.microsoft.com/v1.0/users/\" + $('Check User').first().json.value[0].userPrincipalName + \"/mailboxSettings\"}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "get-mailbox-1",
      "name": "Get Mailbox Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        -192
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "t8BCD8pP06ajRhfw",
          "name": "Entra OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "email": "Test@michaelgraves.com"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-03T00:24:46.986Z",
      "createdAt": "2026-07-03T00:24:46.986Z",
      "role": "workflow:owner",
      "workflowId": "lm97gEt8YucGk2KE",
      "projectId": "RmOilgTSaNq34WG7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-03T01:20:49.415Z",
  "versionId": "6db8215a-8ecc-4d7b-8919-5bca7c37653e"
}