workflows/2026/07/qG72wXHcuGFT3JS4.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-01T19:38:52.025Z",
    "createdAt": "2026-07-01T19:38:52.025Z",
    "versionId": "21d74a7d-03f4-4a5f-a6d5-e0701475d21e",
    "workflowId": "qG72wXHcuGFT3JS4",
    "nodes": [
      {
        "parameters": {
          "authentication": "n8nUserAuth",
          "formTitle": "AD User Provisioning",
          "formDescription": "Submit a request to create or update an Active Directory user account",
          "formFields": {
            "values": [
              {
                "fieldLabel": "First Name",
                "requiredField": true
              },
              {
                "fieldLabel": "Last Name",
                "requiredField": true
              },
              {
                "fieldLabel": "Job Title",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "3-D Visualization Artist"
                    },
                    {
                      "option": "3rd Party"
                    },
                    {
                      "option": "Accounting Assistant"
                    },
                    {
                      "option": "Accounting Summer Intern"
                    },
                    {
                      "option": "Admin Support Specialist"
                    },
                    {
                      "option": "Administrative Intern"
                    },
                    {
                      "option": "Administrative Support Specialist"
                    },
                    {
                      "option": "Architect"
                    },
                    {
                      "option": "Architect / Senior Project Manager"
                    },
                    {
                      "option": "Architectural Design Intern"
                    },
                    {
                      "option": "Architectural Designer"
                    },
                    {
                      "option": "Architectural Designer II"
                    },
                    {
                      "option": "Architectural Technologist"
                    },
                    {
                      "option": "Associate"
                    },
                    {
                      "option": "Associate Principal"
                    },
                    {
                      "option": "Business Analyst"
                    },
                    {
                      "option": "Business Development & Communications Manager"
                    },
                    {
                      "option": "Business Operations Manager"
                    },
                    {
                      "option": "CEO"
                    },
                    {
                      "option": "CFO"
                    },
                    {
                      "option": "Chief Design Technology Officer"
                    },
                    {
                      "option": "Communications & Business Development Manager"
                    },
                    {
                      "option": "Construction Administrator"
                    },
                    {
                      "option": "Controller"
                    },
                    {
                      "option": "COO"
                    },
                    {
                      "option": "Design Production Specialist"
                    },
                    {
                      "option": "Design Technology Manager"
                    },
                    {
                      "option": "Design Technology Specialist"
                    },
                    {
                      "option": "Director of Finance"
                    },
                    {
                      "option": "Director of Human Resources"
                    },
                    {
                      "option": "Director of Interior Design"
                    },
                    {
                      "option": "Director of IT"
                    },
                    {
                      "option": "Director of Marketing"
                    },
                    {
                      "option": "Director of Resource Management"
                    },
                    {
                      "option": "Graphic Design Manager"
                    },
                    {
                      "option": "Historic Preservation Specialist"
                    },
                    {
                      "option": "Interior Design Intern"
                    },
                    {
                      "option": "Interior Designer"
                    },
                    {
                      "option": "International Director of Interior Design"
                    },
                    {
                      "option": "Investor"
                    },
                    {
                      "option": "Jr. Interior Designer"
                    },
                    {
                      "option": "Marketing Intern"
                    },
                    {
                      "option": "Marketing Manager"
                    },
                    {
                      "option": "Principal"
                    },
                    {
                      "option": "Principal-Emeritus"
                    },
                    {
                      "option": "Project Architect"
                    },
                    {
                      "option": "Project Interior Designer"
                    },
                    {
                      "option": "Project Manager"
                    },
                    {
                      "option": "Senior 3-D Visualization Artist"
                    },
                    {
                      "option": "Senior Accountant"
                    },
                    {
                      "option": "Senior Architect"
                    },
                    {
                      "option": "Senior Architectural Designer"
                    },
                    {
                      "option": "Senior Associate"
                    },
                    {
                      "option": "Senior Associate, Director of Planning"
                    },
                    {
                      "option": "Senior Associate, Senior Director of Interior Design"
                    },
                    {
                      "option": "Senior Project Manager"
                    },
                    {
                      "option": "Sr. Accountant"
                    },
                    {
                      "option": "Sr. Architectural Designer"
                    },
                    {
                      "option": "Sr. Associate"
                    },
                    {
                      "option": "Sr. Project Architect"
                    },
                    {
                      "option": "Sr. Project Manager"
                    },
                    {
                      "option": "Staff Accountant"
                    },
                    {
                      "option": "Test User"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Studio",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "JCA — Hackensack ~~ 171 Main Street | Suite 301 ~~ Hackensack ~~ NJ ~~ 07601 ~~ 201.678.1201"
                    },
                    {
                      "option": "KAA — Chicago ~~ 900 N. Franklin Street | Suite 405-B ~~ Chicago ~~ IL ~~ 60610 ~~ 312.471.2505"
                    },
                    {
                      "option": "KAA — Long Beach ~~ 4265 E. Conant Street | Suite 101 ~~ Long Beach ~~ CA ~~ 90808 ~~ 562.597.8760"
                    },
                    {
                      "option": "MGA — Princeton ~~ 341 Nassau Street ~~ Princeton ~~ NJ ~~ 08540 ~~ 609.924.6409"
                    },
                    {
                      "option": "MGA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 609.924.6409"
                    },
                    {
                      "option": "MGC — Charlotte ~~ 4431 Monroe Road ~~ Charlotte ~~ NC ~~ 28205 ~~ 609.924.6409"
                    },
                    {
                      "option": "PGN — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 202.822.5995"
                    },
                    {
                      "option": "PLX — Allen ~~ 1513 Greenbriar Drive | Suite 201 ~~ Allen ~~ TX ~~ 75013 ~~ 469.949.8528"
                    },
                    {
                      "option": "S4D — Knoxville ~~ 18 Emory Place | Suite 100 ~~ Knoxville ~~ TN ~~ 37917 ~~ 865.523.5001"
                    },
                    {
                      "option": "WCK — Philadelphia ~~ 1518 Walnut Street | Suite 1308 ~~ Philadelphia ~~ PA ~~ 19103 ~~ 267.738.0956"
                    },
                    {
                      "option": "WRA — Winston-Salem ~~ 530 N. Trade Street | Suite 301 ~~ Winston-Salem ~~ NC ~~ 27101 ~~ 336.725.1371"
                    },
                    {
                      "option": "WSA — Baltimore ~~ 233 E. Redwood Street | Suite 1200 ~~ Baltimore ~~ MD ~~ 21202 ~~ 410.290.9680"
                    },
                    {
                      "option": "WSA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 571.451.2538"
                    },
                    {
                      "option": "WSA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 410.290.9680"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "EMP ID"
              },
              {
                "fieldLabel": "Phone Extension"
              },
              {
                "fieldLabel": "Credentials"
              }
            ]
          },
          "options": {}
        },
        "id": "8081aa0a-84d6-43bf-9342-ba5ad6af8c73",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.6,
        "position": [
          -1424,
          304
        ],
        "webhookId": "57b471eb-6c4b-450e-833b-0f29b5c50ae8"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nconst firstName   = String(item['First Name']      ?? '').trim();\nconst lastName    = String(item['Last Name']       ?? '').trim();\nconst jobTitle    = String(item['Job Title']       ?? '').trim();\nconst studioRaw   = String(item['Studio']          ?? '').trim();\nconst empId       = String(item['EMP ID']          ?? '').trim();\nconst phoneExt    = String(item['Phone Extension'] ?? '').trim();\nconst credentials = String(item['Credentials']     ?? '').trim();\n\nif (!firstName) throw new Error('First Name is required.');\nif (!lastName)  throw new Error('Last Name is required.');\nif (!studioRaw) throw new Error('Studio selection is required.');\n\n// Auto-detect delimiter\nconst delimiter = studioRaw.includes(' ~~ ') ? ' ~~ ' : ' | ';\nconst parts     = studioRaw.split(delimiter).map(s => s.trim());\nconst labelPart = parts[0] ?? '';\nconst street    = parts[1] ?? '';\nconst state     = parts[3] ?? '';\nconst zip       = parts[4] ?? '';\nconst phone     = parts[5] ?? '';\n\nconst dashIdx = labelPart.indexOf(' \\u2014 ');\nconst company = dashIdx !== -1 ? labelPart.substring(0, dashIdx).trim() : labelPart.trim();\nconst city    = dashIdx !== -1 ? labelPart.substring(dashIdx + 3).trim() : '';\n\nif (!company) throw new Error(`Could not parse company from Studio value: ${studioRaw}`);\nif (!city)    throw new Error(`Could not parse city from Studio value: ${studioRaw}`);\n\nconst ouCity             = city.replace(/[-\\s]/g, '');\nconst sAMAccountName     = (firstName.charAt(0) + lastName).toLowerCase();\nconst displayName        = `${firstName} ${lastName}`;\nconst cn                 = displayName;\nconst dn                 = `CN=${cn},OU=${ouCity},OU=${company},OU=MGA USERS,DC=MGA,DC=com`;\nconst targetOU           = `OU=${ouCity},OU=${company},OU=MGA USERS,DC=MGA,DC=com`;\nconst userPrincipalName  = `${sAMAccountName}@michaelgraves.com`;\nconst mail               = `${sAMAccountName}@michaelgraves.com`;\n\nconst optionalFields = {};\nif (empId)       optionalFields.pager   = empId;\nif (phoneExt)    optionalFields.ipPhone  = phoneExt;\nif (credentials) optionalFields.info     = credentials;\n\n// HTML completion pages\nconst successHtml = `<div style=\"font-family: 'Open Sans', sans-serif; max-width: 480px; margin: 40px auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(99,77,255,0.08); border-top: 4px solid #38a169;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">\\u2705</span>\n    <h2 style=\"margin:0; color:#276749; font-size:20px;\">User Created Successfully</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0 0 12px;\">\n    The Active Directory account <strong style=\"color:#2d3748;\">${sAMAccountName}</strong> has been created.\n  </p>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">\n    The user can log in with their temporary password and will be prompted to change it on first sign-in.\n  </p>\n</div>`;\n\nconst updatedHtml = `<div style=\"font-family: 'Open Sans', sans-serif; max-width: 480px; margin: 40px auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(99,77,255,0.08); border-top: 4px solid #3182ce;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">\\ud83d\\udd04</span>\n    <h2 style=\"margin:0; color:#2b6cb0; font-size:20px;\">User Updated Successfully</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0 0 12px;\">\n    The Active Directory account <strong style=\"color:#2d3748;\">${sAMAccountName}</strong> has been updated and re-enabled.\n  </p>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">\n    The user can log in with their temporary password and will be prompted to change it on first sign-in.\n  </p>\n</div>`;\n\nreturn [{\n  json: {\n    dn,\n    targetOU,\n    sAMAccountName,\n    displayName,\n    givenName: firstName,\n    sn: lastName,\n    cn,\n    title: jobTitle,\n    company,\n    streetAddress: street,\n    l: city,\n    st: state,\n    postalCode: zip,\n    telephoneNumber: phone,\n    userPrincipalName,\n    mail,\n    objectClass: 'user',\n    userAccountControl: '514',\n    successHtml,\n    updatedHtml,\n    ...optionalFields\n  }\n}];"
        },
        "id": "39efa1c6-f857-4cdb-910e-515ab24186f5",
        "name": "Code: Build AD user attributes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1232,
          304
        ]
      },
      {
        "parameters": {
          "baseDN": "DC=MGA,DC=com",
          "searchFor": "(objectclass=top)",
          "attribute": "sAMAccountName",
          "searchText": "={{ $json.sAMAccountName }}",
          "returnAll": true,
          "options": {
            "attributes": [
              "dn",
              "userAccountControl",
              "distinguishedName"
            ]
          }
        },
        "id": "7c12315c-cbb8-4eb5-af2e-8cd80da3ad34",
        "name": "LDAP: Search for existing user",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          -1056,
          304
        ],
        "alwaysOutputData": true,
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst searchResults = $input.all();\n\n// alwaysOutputData=false on LDAP means 0 items = not found, 1+ items = found\n// continueOnFail=true means errors also pass through as items with error info\nconst firstJson = searchResults.length > 0 ? searchResults[0].json : {};\nconst userExists = searchResults.length > 0 && !!firstJson.dn;\n\nlet existingDn = null;\nlet userAccountControl = null;\nlet isEnabled = false;\n\nif (userExists) {\n  existingDn = searchResults[0].json.dn || searchResults[0].json.distinguishedName || null;\n  userAccountControl = parseInt(searchResults[0].json.userAccountControl ?? '514', 10);\n  // UAC bit 2 (value 2) = account disabled\n  isEnabled = (userAccountControl & 2) === 0;\n}\n\nconsole.log(`User exists: ${userExists}, DN: ${existingDn}, UAC: ${userAccountControl}, Enabled: ${isEnabled}`);\n\nreturn [{\n  json: {\n    ...adAttrs,\n    userExists,\n    existingDn,\n    userAccountControl: userAccountControl ?? 514,\n    isEnabled\n  }\n}];"
        },
        "id": "ac2ddd6e-f448-4c34-ba8a-69e08577dec1",
        "name": "Code: Route - exists or new",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          304
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "exists-check",
                "leftValue": "={{ $json.userExists }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "37f642b7-40a6-43a3-996f-b682cbbcc7f1",
        "name": "IF: User exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -704,
          304
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "attributes": {
            "attribute": [
              {
                "id": "objectClass",
                "value": "={{ $json.createAttributes[0].value }}"
              },
              {
                "id": "sAMAccountName",
                "value": "={{ $('Code: Build AD user attributes').first().json.sAMAccountName }}"
              },
              {
                "id": "userPrincipalName",
                "value": "={{ $('Code: Build AD user attributes').first().json.userPrincipalName }}"
              },
              {
                "id": "cn",
                "value": "={{ $('Code: Build AD user attributes').first().json.cn }}"
              },
              {
                "id": "displayName",
                "value": "={{ $('Code: Build AD user attributes').first().json.displayName }}"
              },
              {
                "id": "givenName",
                "value": "={{ $('Code: Build AD user attributes').first().json.givenName }}"
              },
              {
                "id": "sn",
                "value": "={{ $('Code: Build AD user attributes').first().json.sn }}"
              },
              {
                "id": "title",
                "value": "={{ $('Code: Build AD user attributes').first().json.title }}"
              },
              {
                "id": "company",
                "value": "={{ $('Code: Build AD user attributes').first().json.company }}"
              },
              {
                "id": "streetAddress",
                "value": "={{ $('Code: Build AD user attributes').first().json.streetAddress }}"
              },
              {
                "id": "l",
                "value": "={{ $('Code: Build AD user attributes').first().json.l }}"
              },
              {
                "id": "st",
                "value": "={{ $('Code: Build AD user attributes').first().json.st }}"
              },
              {
                "id": "postalCode",
                "value": "={{ $('Code: Build AD user attributes').first().json.postalCode }}"
              },
              {
                "id": "telephoneNumber",
                "value": "={{ $('Code: Build AD user attributes').first().json.telephoneNumber }}"
              },
              {
                "id": "userAccountControl",
                "value": "514"
              },
              {
                "id": "mail",
                "value": "={{ $('Code: Build AD user attributes').first().json.mail }}"
              }
            ]
          }
        },
        "id": "985a265c-9f46-467e-bdfd-798bfd7702eb",
        "name": "LDAP: Create AD user",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          -80,
          512
        ],
        "alwaysOutputData": false,
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\n\nconst plainPassword = `MGAtemp${new Date().getFullYear()}`;\n\nfunction encodePassword(password) {\n  let encoded = '';\n  const quoted = '\"' + password + '\"';\n  for (let i = 0; i < quoted.length; i++) {\n    encoded += String.fromCharCode(\n      quoted.charCodeAt(i) & 0xFF,\n      (quoted.charCodeAt(i) >>> 8) & 0xFF\n    );\n  }\n  return encoded;\n}\n\nreturn [{ json: { ...adAttrs, unicodePwd: encodePassword(plainPassword) } }];"
        },
        "id": "e91eb005-23be-4107-b756-c4dd6474147e",
        "name": "Code: Generate password (create)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          144,
          512
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "attributes": {
            "replace": [
              {
                "id": "unicodePwd",
                "value": "={{ $json.unicodePwd }}"
              },
              {
                "id": "userAccountControl",
                "value": "512"
              },
              {
                "id": "pwdLastSet",
                "value": "0"
              }
            ]
          }
        },
        "id": "836a590f-f350-4598-b3d8-9d120d0d92f4",
        "name": "LDAP: Set password (create)",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          368,
          512
        ],
        "credentials": {
          "ldap": {
            "id": "yhqL5nK5LwLUDozV",
            "name": "LDAP account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "completion",
          "respondWith": "showText",
          "responseText": "={{ $('Code: Build AD user attributes').first().json.successHtml }}"
        },
        "id": "9ea28ade-0382-4a2d-a2f3-b80180937435",
        "name": "Form: User Created",
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.5,
        "position": [
          576,
          512
        ],
        "webhookId": "ad-prov-created-001"
      },
      {
        "parameters": {
          "content": "## Trigger Workflow",
          "height": 400,
          "width": 160,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1456,
          160
        ],
        "typeVersion": 1,
        "id": "e5551e42-691f-4435-9de2-90ee09d8df7e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## LDAP Search / User Exists?",
          "height": 400,
          "width": 544,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1088,
          160
        ],
        "typeVersion": 1,
        "id": "1a77b84c-b946-4253-a98a-01bd36710d2a",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## User Exists",
          "height": 432,
          "width": 2192,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -352,
          -48
        ],
        "typeVersion": 1,
        "id": "86844933-ebfb-4954-b8a2-ae4ba4510c3e",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## User Doesn't Exist",
          "height": 272,
          "width": 1120,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -352,
          416
        ],
        "typeVersion": 1,
        "id": "fc30a22f-a55f-4d82-90b0-66cdb7f36ddf",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "jsCode": "const a = $('Code: Build AD user attributes').first().json;\n\n// Core attributes — always included\nconst core = [\n  { id: 'objectClass',        value: a.objectClass },\n  { id: 'sAMAccountName',     value: a.sAMAccountName },\n  { id: 'userPrincipalName',  value: a.userPrincipalName },\n  { id: 'cn',                 value: a.cn },\n  { id: 'displayName',        value: a.displayName },\n  { id: 'givenName',          value: a.givenName },\n  { id: 'sn',                 value: a.sn },\n  { id: 'title',              value: a.title },\n  { id: 'company',            value: a.company },\n  { id: 'streetAddress',      value: a.streetAddress },\n  { id: 'l',                  value: a.l },\n  { id: 'st',                 value: a.st },\n  { id: 'postalCode',         value: a.postalCode },\n  { id: 'telephoneNumber',    value: a.telephoneNumber },\n  { id: 'userAccountControl', value: '514' },\n  { id: 'mail',               value: a.mail },\n];\n\n// Optional attributes — only include if non-empty\nconst optional = [\n  { id: 'pager',   value: a.pager },\n  { id: 'ipPhone', value: a.ipPhone },\n  { id: 'info',    value: a.info },\n].filter(attr => String(attr.value ?? '').trim() !== '');\n\nreturn [{ json: { ...a, createAttributes: [...core, ...optional] } }];"
        },
        "id": "pre-create-filter-001",
        "name": "Code: Filter empty attributes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          512
        ]
      },
      {
        "parameters": {
          "content": "## Build AD Account",
          "height": 400,
          "width": 160
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1264,
          160
        ],
        "typeVersion": 1,
        "id": "34089aa9-4403-4327-a64c-99d6e82b91c5",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "baseDN": "DC=MGA,DC=com",
          "searchFor": "(objectclass=top)",
          "attribute": "sAMAccountName",
          "searchText": "={{ $('Code: Build AD user attributes').first().json.sAMAccountName }}",
          "returnAll": true,
          "options": {
            "attributes": [
              "dn",
              "distinguishedName",
              "title",
              "company",
              "streetAddress",
              "l",
              "st",
              "postalCode",
              "telephoneNumber",
              "mail",
              "pager",
              "ipPhone",
              "info"
            ]
          }
        },
        "id": "con-get-dn",
        "name": "LDAP: Get current DN",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          -304,
          48
        ],
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        }
      },
      {
        "parameters": {
          "operation": "rename",
          "dn": "={{ $json.dn || $json.distinguishedName }}",
          "targetDn": "={{ $('Code: Build AD user attributes').first().json.dn }}"
        },
        "id": "con-move-ou",
        "name": "LDAP: Move to correct OU",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          -80,
          48
        ],
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst existing = $('LDAP: Get current DN').first().json;\n\nfunction valueOrExisting(submitted, existingVal) {\n  const v = String(submitted ?? '').trim();\n  if (v !== '') return v;\n  const e = String(existingVal ?? '').trim();\n  return e !== '' ? e : ' ';\n}\n\nconst finalTitle           = valueOrExisting(adAttrs.title, existing.title);\nconst finalCompany         = valueOrExisting(adAttrs.company, existing.company);\nconst finalStreetAddress   = valueOrExisting(adAttrs.streetAddress, existing.streetAddress);\nconst finalL               = valueOrExisting(adAttrs.l, existing.l);\nconst finalSt              = valueOrExisting(adAttrs.st, existing.st);\nconst finalPostalCode      = valueOrExisting(adAttrs.postalCode, existing.postalCode);\nconst finalTelephoneNumber = valueOrExisting(adAttrs.telephoneNumber, existing.telephoneNumber);\nconst finalMail            = valueOrExisting(adAttrs.mail, existing.mail);\n\n// Optional fields: if submitted -> replace, if blank -> delete\nconst optionalFields = [\n  { id: 'pager',   value: String(adAttrs.pager   ?? '').trim() },\n  { id: 'ipPhone', value: String(adAttrs.ipPhone  ?? '').trim() },\n  { id: 'info',    value: String(adAttrs.info     ?? '').trim() },\n];\n\nconst optionalReplace = optionalFields.filter(f => f.value !== '');\nconst optionalDelete  = optionalFields.filter(f => f.value === '').map(f => f.id);\nconst hasOptional     = optionalFields.length > 0; // always true — always process optional fields\n\nreturn [{ json: {\n  ...adAttrs,\n  finalTitle, finalCompany, finalStreetAddress, finalL, finalSt,\n  finalPostalCode, finalTelephoneNumber, finalMail,\n  optionalReplace, optionalDelete, hasOptional\n} }];\n"
        },
        "id": "con-build-attrs",
        "name": "Code: Build update attributes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          48
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "attributes": {
            "replace": [
              {
                "id": "title",
                "value": "={{ $json.finalTitle }}"
              },
              {
                "id": "company",
                "value": "={{ $json.finalCompany }}"
              },
              {
                "id": "streetAddress",
                "value": "={{ $json.finalStreetAddress }}"
              },
              {
                "id": "l",
                "value": "={{ $json.finalL }}"
              },
              {
                "id": "st",
                "value": "={{ $json.finalSt }}"
              },
              {
                "id": "postalCode",
                "value": "={{ $json.finalPostalCode }}"
              },
              {
                "id": "telephoneNumber",
                "value": "={{ $json.finalTelephoneNumber }}"
              },
              {
                "id": "mail",
                "value": "={{ $json.finalMail }}"
              }
            ]
          }
        },
        "id": "con-update-attrs",
        "name": "LDAP: Update attributes",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          352,
          48
        ],
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "has-replace",
                "leftValue": "={{ $('Code: Build update attributes').first().json.optionalReplace.length }}",
                "operator": {
                  "operation": "gt",
                  "type": "number"
                },
                "rightValue": 0
              }
            ],
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            }
          },
          "options": {}
        },
        "id": "con-if-optional",
        "name": "IF: Has optional fields?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          576,
          48
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "disabled-check",
                "leftValue": "={{ $('Code: Route - exists or new').first().json.isEnabled }}",
                "operator": {
                  "operation": "false",
                  "singleValue": true,
                  "type": "boolean"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "con-if-disabled",
        "name": "IF: Account disabled?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          864,
          192
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "update",
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "attributes": {
            "replace": [
              {
                "id": "userAccountControl",
                "value": "512"
              }
            ]
          }
        },
        "id": "con-reenable",
        "name": "LDAP: Re-enable account",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          1040,
          -16
        ],
        "credentials": {
          "ldap": {
            "id": "yhqL5nK5LwLUDozV",
            "name": "LDAP account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst plainPassword = `MGAtemp${new Date().getFullYear()}`;\nfunction encodePassword(password) {\n  let encoded = '';\n  const quoted = '\"' + password + '\"';\n  for (let i = 0; i < quoted.length; i++) {\n    encoded += String.fromCharCode(quoted.charCodeAt(i) & 0xFF, (quoted.charCodeAt(i) >>> 8) & 0xFF);\n  }\n  return encoded;\n}\nreturn [{ json: { ...adAttrs, unicodePwd: encodePassword(plainPassword) } }];"
        },
        "id": "con-gen-pwd",
        "name": "Code: Generate password (existing)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "update",
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "attributes": {
            "replace": [
              {
                "id": "unicodePwd",
                "value": "={{ $json.unicodePwd }}"
              },
              {
                "id": "userAccountControl",
                "value": "512"
              },
              {
                "id": "pwdLastSet",
                "value": "0"
              }
            ]
          }
        },
        "id": "con-set-pwd",
        "name": "LDAP: Set password (existing)",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          1440,
          208
        ],
        "credentials": {
          "ldap": {
            "id": "yhqL5nK5LwLUDozV",
            "name": "LDAP account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "completion",
          "respondWith": "showText",
          "responseText": "={{ $('Code: Build AD user attributes').first().json.updatedHtml }}"
        },
        "id": "con-form-done",
        "name": "Form: User Provisioned",
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.5,
        "position": [
          1632,
          208
        ],
        "webhookId": "2610ab7f-2dc4-4885-99e1-74aaa1572e0b"
      },
      {
        "id": "opt-set-001",
        "name": "LDAP: Set optional attributes",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          800,
          -80
        ],
        "parameters": {
          "attributes": {
            "replace": [
              {
                "id": "pager",
                "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'pager')?.value }}"
              },
              {
                "id": "ipPhone",
                "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'ipPhone')?.value }}"
              },
              {
                "id": "info",
                "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'info')?.value }}"
              }
            ]
          },
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "operation": "update"
        },
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        },
        "continueOnFail": true
      },
      {
        "id": "opt-del-001",
        "name": "LDAP: Clear optional attributes",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          800,
          80
        ],
        "parameters": {
          "attributes": {
            "delete": [
              {
                "id": "pager"
              },
              {
                "id": "ipPhone"
              },
              {
                "id": "info"
              }
            ]
          },
          "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
          "operation": "update"
        },
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        },
        "continueOnFail": true
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Code: Build AD user attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build AD user attributes": {
        "main": [
          [
            {
              "node": "LDAP: Search for existing user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Search for existing user": {
        "main": [
          [
            {
              "node": "Code: Route - exists or new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Route - exists or new": {
        "main": [
          [
            {
              "node": "IF: User exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: User exists?": {
        "main": [
          [
            {
              "node": "LDAP: Get current DN",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Filter empty attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Create AD user": {
        "main": [
          [
            {
              "node": "Code: Generate password (create)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Generate password (create)": {
        "main": [
          [
            {
              "node": "LDAP: Set password (create)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Set password (create)": {
        "main": [
          [
            {
              "node": "Form: User Created",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Filter empty attributes": {
        "main": [
          [
            {
              "node": "LDAP: Create AD user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Get current DN": {
        "main": [
          [
            {
              "node": "LDAP: Move to correct OU",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Move to correct OU": {
        "main": [
          [
            {
              "node": "Code: Build update attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build update attributes": {
        "main": [
          [
            {
              "node": "LDAP: Update attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Update attributes": {
        "main": [
          [
            {
              "node": "IF: Has optional fields?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: Account disabled?": {
        "main": [
          [
            {
              "node": "LDAP: Re-enable account",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Generate password (existing)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Re-enable account": {
        "main": [
          [
            {
              "node": "Code: Generate password (existing)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Generate password (existing)": {
        "main": [
          [
            {
              "node": "LDAP: Set password (existing)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Set password (existing)": {
        "main": [
          [
            {
              "node": "Form: User Provisioned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: Has optional fields?": {
        "main": [
          [
            {
              "node": "LDAP: Set optional attributes",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LDAP: Clear optional attributes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Set optional attributes": {
        "main": [
          [
            {
              "node": "IF: Account disabled?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Clear optional attributes": {
        "main": [
          [
            {
              "node": "IF: Account disabled?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "IT Admin",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "21d74a7d-03f4-4a5f-a6d5-e0701475d21e",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code: Build AD user attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build AD user attributes": {
      "main": [
        [
          {
            "node": "LDAP: Search for existing user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Search for existing user": {
      "main": [
        [
          {
            "node": "Code: Route - exists or new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Route - exists or new": {
      "main": [
        [
          {
            "node": "IF: User exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: User exists?": {
      "main": [
        [
          {
            "node": "LDAP: Get current DN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Filter empty attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Create AD user": {
      "main": [
        [
          {
            "node": "Code: Generate password (create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generate password (create)": {
      "main": [
        [
          {
            "node": "LDAP: Set password (create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Set password (create)": {
      "main": [
        [
          {
            "node": "Form: User Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Filter empty attributes": {
      "main": [
        [
          {
            "node": "LDAP: Create AD user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Get current DN": {
      "main": [
        [
          {
            "node": "LDAP: Move to correct OU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Move to correct OU": {
      "main": [
        [
          {
            "node": "Code: Build update attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build update attributes": {
      "main": [
        [
          {
            "node": "LDAP: Update attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Update attributes": {
      "main": [
        [
          {
            "node": "IF: Has optional fields?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Account disabled?": {
      "main": [
        [
          {
            "node": "LDAP: Re-enable account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Generate password (existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Re-enable account": {
      "main": [
        [
          {
            "node": "Code: Generate password (existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generate password (existing)": {
      "main": [
        [
          {
            "node": "LDAP: Set password (existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Set password (existing)": {
      "main": [
        [
          {
            "node": "Form: User Provisioned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has optional fields?": {
      "main": [
        [
          {
            "node": "LDAP: Set optional attributes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LDAP: Clear optional attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Set optional attributes": {
      "main": [
        [
          {
            "node": "IF: Account disabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Clear optional attributes": {
      "main": [
        [
          {
            "node": "IF: Account disabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-01T14:44:32.437Z",
  "id": "qG72wXHcuGFT3JS4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AD User Provisioning",
  "nodes": [
    {
      "parameters": {
        "authentication": "n8nUserAuth",
        "formTitle": "AD User Provisioning",
        "formDescription": "Submit a request to create or update an Active Directory user account",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Title",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "3-D Visualization Artist"
                  },
                  {
                    "option": "3rd Party"
                  },
                  {
                    "option": "Accounting Assistant"
                  },
                  {
                    "option": "Accounting Summer Intern"
                  },
                  {
                    "option": "Admin Support Specialist"
                  },
                  {
                    "option": "Administrative Intern"
                  },
                  {
                    "option": "Administrative Support Specialist"
                  },
                  {
                    "option": "Architect"
                  },
                  {
                    "option": "Architect / Senior Project Manager"
                  },
                  {
                    "option": "Architectural Design Intern"
                  },
                  {
                    "option": "Architectural Designer"
                  },
                  {
                    "option": "Architectural Designer II"
                  },
                  {
                    "option": "Architectural Technologist"
                  },
                  {
                    "option": "Associate"
                  },
                  {
                    "option": "Associate Principal"
                  },
                  {
                    "option": "Business Analyst"
                  },
                  {
                    "option": "Business Development & Communications Manager"
                  },
                  {
                    "option": "Business Operations Manager"
                  },
                  {
                    "option": "CEO"
                  },
                  {
                    "option": "CFO"
                  },
                  {
                    "option": "Chief Design Technology Officer"
                  },
                  {
                    "option": "Communications & Business Development Manager"
                  },
                  {
                    "option": "Construction Administrator"
                  },
                  {
                    "option": "Controller"
                  },
                  {
                    "option": "COO"
                  },
                  {
                    "option": "Design Production Specialist"
                  },
                  {
                    "option": "Design Technology Manager"
                  },
                  {
                    "option": "Design Technology Specialist"
                  },
                  {
                    "option": "Director of Finance"
                  },
                  {
                    "option": "Director of Human Resources"
                  },
                  {
                    "option": "Director of Interior Design"
                  },
                  {
                    "option": "Director of IT"
                  },
                  {
                    "option": "Director of Marketing"
                  },
                  {
                    "option": "Director of Resource Management"
                  },
                  {
                    "option": "Graphic Design Manager"
                  },
                  {
                    "option": "Historic Preservation Specialist"
                  },
                  {
                    "option": "Interior Design Intern"
                  },
                  {
                    "option": "Interior Designer"
                  },
                  {
                    "option": "International Director of Interior Design"
                  },
                  {
                    "option": "Investor"
                  },
                  {
                    "option": "Jr. Interior Designer"
                  },
                  {
                    "option": "Marketing Intern"
                  },
                  {
                    "option": "Marketing Manager"
                  },
                  {
                    "option": "Principal"
                  },
                  {
                    "option": "Principal-Emeritus"
                  },
                  {
                    "option": "Project Architect"
                  },
                  {
                    "option": "Project Interior Designer"
                  },
                  {
                    "option": "Project Manager"
                  },
                  {
                    "option": "Senior 3-D Visualization Artist"
                  },
                  {
                    "option": "Senior Accountant"
                  },
                  {
                    "option": "Senior Architect"
                  },
                  {
                    "option": "Senior Architectural Designer"
                  },
                  {
                    "option": "Senior Associate"
                  },
                  {
                    "option": "Senior Associate, Director of Planning"
                  },
                  {
                    "option": "Senior Associate, Senior Director of Interior Design"
                  },
                  {
                    "option": "Senior Project Manager"
                  },
                  {
                    "option": "Sr. Accountant"
                  },
                  {
                    "option": "Sr. Architectural Designer"
                  },
                  {
                    "option": "Sr. Associate"
                  },
                  {
                    "option": "Sr. Project Architect"
                  },
                  {
                    "option": "Sr. Project Manager"
                  },
                  {
                    "option": "Staff Accountant"
                  },
                  {
                    "option": "Test User"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Studio",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "JCA — Hackensack ~~ 171 Main Street | Suite 301 ~~ Hackensack ~~ NJ ~~ 07601 ~~ 201.678.1201"
                  },
                  {
                    "option": "KAA — Chicago ~~ 900 N. Franklin Street | Suite 405-B ~~ Chicago ~~ IL ~~ 60610 ~~ 312.471.2505"
                  },
                  {
                    "option": "KAA — Long Beach ~~ 4265 E. Conant Street | Suite 101 ~~ Long Beach ~~ CA ~~ 90808 ~~ 562.597.8760"
                  },
                  {
                    "option": "MGA — Princeton ~~ 341 Nassau Street ~~ Princeton ~~ NJ ~~ 08540 ~~ 609.924.6409"
                  },
                  {
                    "option": "MGA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 609.924.6409"
                  },
                  {
                    "option": "MGC — Charlotte ~~ 4431 Monroe Road ~~ Charlotte ~~ NC ~~ 28205 ~~ 609.924.6409"
                  },
                  {
                    "option": "PGN — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 202.822.5995"
                  },
                  {
                    "option": "PLX — Allen ~~ 1513 Greenbriar Drive | Suite 201 ~~ Allen ~~ TX ~~ 75013 ~~ 469.949.8528"
                  },
                  {
                    "option": "S4D — Knoxville ~~ 18 Emory Place | Suite 100 ~~ Knoxville ~~ TN ~~ 37917 ~~ 865.523.5001"
                  },
                  {
                    "option": "WCK — Philadelphia ~~ 1518 Walnut Street | Suite 1308 ~~ Philadelphia ~~ PA ~~ 19103 ~~ 267.738.0956"
                  },
                  {
                    "option": "WRA — Winston-Salem ~~ 530 N. Trade Street | Suite 301 ~~ Winston-Salem ~~ NC ~~ 27101 ~~ 336.725.1371"
                  },
                  {
                    "option": "WSA — Baltimore ~~ 233 E. Redwood Street | Suite 1200 ~~ Baltimore ~~ MD ~~ 21202 ~~ 410.290.9680"
                  },
                  {
                    "option": "WSA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 571.451.2538"
                  },
                  {
                    "option": "WSA — Washington ~~ 210 7th Street SE | Suite 201 ~~ Washington ~~ DC ~~ 20003 ~~ 410.290.9680"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "EMP ID"
            },
            {
              "fieldLabel": "Phone Extension"
            },
            {
              "fieldLabel": "Credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "8081aa0a-84d6-43bf-9342-ba5ad6af8c73",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -1424,
        304
      ],
      "webhookId": "57b471eb-6c4b-450e-833b-0f29b5c50ae8"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst firstName   = String(item['First Name']      ?? '').trim();\nconst lastName    = String(item['Last Name']       ?? '').trim();\nconst jobTitle    = String(item['Job Title']       ?? '').trim();\nconst studioRaw   = String(item['Studio']          ?? '').trim();\nconst empId       = String(item['EMP ID']          ?? '').trim();\nconst phoneExt    = String(item['Phone Extension'] ?? '').trim();\nconst credentials = String(item['Credentials']     ?? '').trim();\n\nif (!firstName) throw new Error('First Name is required.');\nif (!lastName)  throw new Error('Last Name is required.');\nif (!studioRaw) throw new Error('Studio selection is required.');\n\n// Auto-detect delimiter\nconst delimiter = studioRaw.includes(' ~~ ') ? ' ~~ ' : ' | ';\nconst parts     = studioRaw.split(delimiter).map(s => s.trim());\nconst labelPart = parts[0] ?? '';\nconst street    = parts[1] ?? '';\nconst state     = parts[3] ?? '';\nconst zip       = parts[4] ?? '';\nconst phone     = parts[5] ?? '';\n\nconst dashIdx = labelPart.indexOf(' \\u2014 ');\nconst company = dashIdx !== -1 ? labelPart.substring(0, dashIdx).trim() : labelPart.trim();\nconst city    = dashIdx !== -1 ? labelPart.substring(dashIdx + 3).trim() : '';\n\nif (!company) throw new Error(`Could not parse company from Studio value: ${studioRaw}`);\nif (!city)    throw new Error(`Could not parse city from Studio value: ${studioRaw}`);\n\nconst ouCity             = city.replace(/[-\\s]/g, '');\nconst sAMAccountName     = (firstName.charAt(0) + lastName).toLowerCase();\nconst displayName        = `${firstName} ${lastName}`;\nconst cn                 = displayName;\nconst dn                 = `CN=${cn},OU=${ouCity},OU=${company},OU=MGA USERS,DC=MGA,DC=com`;\nconst targetOU           = `OU=${ouCity},OU=${company},OU=MGA USERS,DC=MGA,DC=com`;\nconst userPrincipalName  = `${sAMAccountName}@michaelgraves.com`;\nconst mail               = `${sAMAccountName}@michaelgraves.com`;\n\nconst optionalFields = {};\nif (empId)       optionalFields.pager   = empId;\nif (phoneExt)    optionalFields.ipPhone  = phoneExt;\nif (credentials) optionalFields.info     = credentials;\n\n// HTML completion pages\nconst successHtml = `<div style=\"font-family: 'Open Sans', sans-serif; max-width: 480px; margin: 40px auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(99,77,255,0.08); border-top: 4px solid #38a169;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">\\u2705</span>\n    <h2 style=\"margin:0; color:#276749; font-size:20px;\">User Created Successfully</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0 0 12px;\">\n    The Active Directory account <strong style=\"color:#2d3748;\">${sAMAccountName}</strong> has been created.\n  </p>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">\n    The user can log in with their temporary password and will be prompted to change it on first sign-in.\n  </p>\n</div>`;\n\nconst updatedHtml = `<div style=\"font-family: 'Open Sans', sans-serif; max-width: 480px; margin: 40px auto; padding: 32px; background: #fff; border-radius: 8px; box-shadow: 0 4px 16px rgba(99,77,255,0.08); border-top: 4px solid #3182ce;\">\n  <div style=\"display:flex; align-items:center; margin-bottom:16px;\">\n    <span style=\"font-size:28px; margin-right:12px;\">\\ud83d\\udd04</span>\n    <h2 style=\"margin:0; color:#2b6cb0; font-size:20px;\">User Updated Successfully</h2>\n  </div>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0 0 12px;\">\n    The Active Directory account <strong style=\"color:#2d3748;\">${sAMAccountName}</strong> has been updated and re-enabled.\n  </p>\n  <p style=\"color:#555; font-size:14px; line-height:1.6; margin:0;\">\n    The user can log in with their temporary password and will be prompted to change it on first sign-in.\n  </p>\n</div>`;\n\nreturn [{\n  json: {\n    dn,\n    targetOU,\n    sAMAccountName,\n    displayName,\n    givenName: firstName,\n    sn: lastName,\n    cn,\n    title: jobTitle,\n    company,\n    streetAddress: street,\n    l: city,\n    st: state,\n    postalCode: zip,\n    telephoneNumber: phone,\n    userPrincipalName,\n    mail,\n    objectClass: 'user',\n    userAccountControl: '514',\n    successHtml,\n    updatedHtml,\n    ...optionalFields\n  }\n}];"
      },
      "id": "39efa1c6-f857-4cdb-910e-515ab24186f5",
      "name": "Code: Build AD user attributes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        304
      ]
    },
    {
      "parameters": {
        "baseDN": "DC=MGA,DC=com",
        "searchFor": "(objectclass=top)",
        "attribute": "sAMAccountName",
        "searchText": "={{ $json.sAMAccountName }}",
        "returnAll": true,
        "options": {
          "attributes": [
            "dn",
            "userAccountControl",
            "distinguishedName"
          ]
        }
      },
      "id": "7c12315c-cbb8-4eb5-af2e-8cd80da3ad34",
      "name": "LDAP: Search for existing user",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -1056,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst searchResults = $input.all();\n\n// alwaysOutputData=false on LDAP means 0 items = not found, 1+ items = found\n// continueOnFail=true means errors also pass through as items with error info\nconst firstJson = searchResults.length > 0 ? searchResults[0].json : {};\nconst userExists = searchResults.length > 0 && !!firstJson.dn;\n\nlet existingDn = null;\nlet userAccountControl = null;\nlet isEnabled = false;\n\nif (userExists) {\n  existingDn = searchResults[0].json.dn || searchResults[0].json.distinguishedName || null;\n  userAccountControl = parseInt(searchResults[0].json.userAccountControl ?? '514', 10);\n  // UAC bit 2 (value 2) = account disabled\n  isEnabled = (userAccountControl & 2) === 0;\n}\n\nconsole.log(`User exists: ${userExists}, DN: ${existingDn}, UAC: ${userAccountControl}, Enabled: ${isEnabled}`);\n\nreturn [{\n  json: {\n    ...adAttrs,\n    userExists,\n    existingDn,\n    userAccountControl: userAccountControl ?? 514,\n    isEnabled\n  }\n}];"
      },
      "id": "ac2ddd6e-f448-4c34-ba8a-69e08577dec1",
      "name": "Code: Route - exists or new",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.userExists }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37f642b7-40a6-43a3-996f-b682cbbcc7f1",
      "name": "IF: User exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        304
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "attributes": {
          "attribute": [
            {
              "id": "objectClass",
              "value": "={{ $json.createAttributes[0].value }}"
            },
            {
              "id": "sAMAccountName",
              "value": "={{ $('Code: Build AD user attributes').first().json.sAMAccountName }}"
            },
            {
              "id": "userPrincipalName",
              "value": "={{ $('Code: Build AD user attributes').first().json.userPrincipalName }}"
            },
            {
              "id": "cn",
              "value": "={{ $('Code: Build AD user attributes').first().json.cn }}"
            },
            {
              "id": "displayName",
              "value": "={{ $('Code: Build AD user attributes').first().json.displayName }}"
            },
            {
              "id": "givenName",
              "value": "={{ $('Code: Build AD user attributes').first().json.givenName }}"
            },
            {
              "id": "sn",
              "value": "={{ $('Code: Build AD user attributes').first().json.sn }}"
            },
            {
              "id": "title",
              "value": "={{ $('Code: Build AD user attributes').first().json.title }}"
            },
            {
              "id": "company",
              "value": "={{ $('Code: Build AD user attributes').first().json.company }}"
            },
            {
              "id": "streetAddress",
              "value": "={{ $('Code: Build AD user attributes').first().json.streetAddress }}"
            },
            {
              "id": "l",
              "value": "={{ $('Code: Build AD user attributes').first().json.l }}"
            },
            {
              "id": "st",
              "value": "={{ $('Code: Build AD user attributes').first().json.st }}"
            },
            {
              "id": "postalCode",
              "value": "={{ $('Code: Build AD user attributes').first().json.postalCode }}"
            },
            {
              "id": "telephoneNumber",
              "value": "={{ $('Code: Build AD user attributes').first().json.telephoneNumber }}"
            },
            {
              "id": "userAccountControl",
              "value": "514"
            },
            {
              "id": "mail",
              "value": "={{ $('Code: Build AD user attributes').first().json.mail }}"
            }
          ]
        }
      },
      "id": "985a265c-9f46-467e-bdfd-798bfd7702eb",
      "name": "LDAP: Create AD user",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -80,
        512
      ],
      "alwaysOutputData": false,
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\n\nconst plainPassword = `MGAtemp${new Date().getFullYear()}`;\n\nfunction encodePassword(password) {\n  let encoded = '';\n  const quoted = '\"' + password + '\"';\n  for (let i = 0; i < quoted.length; i++) {\n    encoded += String.fromCharCode(\n      quoted.charCodeAt(i) & 0xFF,\n      (quoted.charCodeAt(i) >>> 8) & 0xFF\n    );\n  }\n  return encoded;\n}\n\nreturn [{ json: { ...adAttrs, unicodePwd: encodePassword(plainPassword) } }];"
      },
      "id": "e91eb005-23be-4107-b756-c4dd6474147e",
      "name": "Code: Generate password (create)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        512
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "unicodePwd",
              "value": "={{ $json.unicodePwd }}"
            },
            {
              "id": "userAccountControl",
              "value": "512"
            },
            {
              "id": "pwdLastSet",
              "value": "0"
            }
          ]
        }
      },
      "id": "836a590f-f350-4598-b3d8-9d120d0d92f4",
      "name": "LDAP: Set password (create)",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        368,
        512
      ],
      "credentials": {
        "ldap": {
          "id": "yhqL5nK5LwLUDozV",
          "name": "LDAP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $('Code: Build AD user attributes').first().json.successHtml }}"
      },
      "id": "9ea28ade-0382-4a2d-a2f3-b80180937435",
      "name": "Form: User Created",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        576,
        512
      ],
      "webhookId": "ad-prov-created-001"
    },
    {
      "parameters": {
        "content": "## Trigger Workflow",
        "height": 400,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        160
      ],
      "typeVersion": 1,
      "id": "e5551e42-691f-4435-9de2-90ee09d8df7e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## LDAP Search / User Exists?",
        "height": 400,
        "width": 544,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        160
      ],
      "typeVersion": 1,
      "id": "1a77b84c-b946-4253-a98a-01bd36710d2a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## User Exists",
        "height": 432,
        "width": 2192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -48
      ],
      "typeVersion": 1,
      "id": "86844933-ebfb-4954-b8a2-ae4ba4510c3e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## User Doesn't Exist",
        "height": 272,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        416
      ],
      "typeVersion": 1,
      "id": "fc30a22f-a55f-4d82-90b0-66cdb7f36ddf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const a = $('Code: Build AD user attributes').first().json;\n\n// Core attributes — always included\nconst core = [\n  { id: 'objectClass',        value: a.objectClass },\n  { id: 'sAMAccountName',     value: a.sAMAccountName },\n  { id: 'userPrincipalName',  value: a.userPrincipalName },\n  { id: 'cn',                 value: a.cn },\n  { id: 'displayName',        value: a.displayName },\n  { id: 'givenName',          value: a.givenName },\n  { id: 'sn',                 value: a.sn },\n  { id: 'title',              value: a.title },\n  { id: 'company',            value: a.company },\n  { id: 'streetAddress',      value: a.streetAddress },\n  { id: 'l',                  value: a.l },\n  { id: 'st',                 value: a.st },\n  { id: 'postalCode',         value: a.postalCode },\n  { id: 'telephoneNumber',    value: a.telephoneNumber },\n  { id: 'userAccountControl', value: '514' },\n  { id: 'mail',               value: a.mail },\n];\n\n// Optional attributes — only include if non-empty\nconst optional = [\n  { id: 'pager',   value: a.pager },\n  { id: 'ipPhone', value: a.ipPhone },\n  { id: 'info',    value: a.info },\n].filter(attr => String(attr.value ?? '').trim() !== '');\n\nreturn [{ json: { ...a, createAttributes: [...core, ...optional] } }];"
      },
      "id": "pre-create-filter-001",
      "name": "Code: Filter empty attributes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        512
      ]
    },
    {
      "parameters": {
        "content": "## Build AD Account",
        "height": 400,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        160
      ],
      "typeVersion": 1,
      "id": "34089aa9-4403-4327-a64c-99d6e82b91c5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "baseDN": "DC=MGA,DC=com",
        "searchFor": "(objectclass=top)",
        "attribute": "sAMAccountName",
        "searchText": "={{ $('Code: Build AD user attributes').first().json.sAMAccountName }}",
        "returnAll": true,
        "options": {
          "attributes": [
            "dn",
            "distinguishedName",
            "title",
            "company",
            "streetAddress",
            "l",
            "st",
            "postalCode",
            "telephoneNumber",
            "mail",
            "pager",
            "ipPhone",
            "info"
          ]
        }
      },
      "id": "con-get-dn",
      "name": "LDAP: Get current DN",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -304,
        48
      ],
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "rename",
        "dn": "={{ $json.dn || $json.distinguishedName }}",
        "targetDn": "={{ $('Code: Build AD user attributes').first().json.dn }}"
      },
      "id": "con-move-ou",
      "name": "LDAP: Move to correct OU",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -80,
        48
      ],
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst existing = $('LDAP: Get current DN').first().json;\n\nfunction valueOrExisting(submitted, existingVal) {\n  const v = String(submitted ?? '').trim();\n  if (v !== '') return v;\n  const e = String(existingVal ?? '').trim();\n  return e !== '' ? e : ' ';\n}\n\nconst finalTitle           = valueOrExisting(adAttrs.title, existing.title);\nconst finalCompany         = valueOrExisting(adAttrs.company, existing.company);\nconst finalStreetAddress   = valueOrExisting(adAttrs.streetAddress, existing.streetAddress);\nconst finalL               = valueOrExisting(adAttrs.l, existing.l);\nconst finalSt              = valueOrExisting(adAttrs.st, existing.st);\nconst finalPostalCode      = valueOrExisting(adAttrs.postalCode, existing.postalCode);\nconst finalTelephoneNumber = valueOrExisting(adAttrs.telephoneNumber, existing.telephoneNumber);\nconst finalMail            = valueOrExisting(adAttrs.mail, existing.mail);\n\n// Optional fields: if submitted -> replace, if blank -> delete\nconst optionalFields = [\n  { id: 'pager',   value: String(adAttrs.pager   ?? '').trim() },\n  { id: 'ipPhone', value: String(adAttrs.ipPhone  ?? '').trim() },\n  { id: 'info',    value: String(adAttrs.info     ?? '').trim() },\n];\n\nconst optionalReplace = optionalFields.filter(f => f.value !== '');\nconst optionalDelete  = optionalFields.filter(f => f.value === '').map(f => f.id);\nconst hasOptional     = optionalFields.length > 0; // always true — always process optional fields\n\nreturn [{ json: {\n  ...adAttrs,\n  finalTitle, finalCompany, finalStreetAddress, finalL, finalSt,\n  finalPostalCode, finalTelephoneNumber, finalMail,\n  optionalReplace, optionalDelete, hasOptional\n} }];\n"
      },
      "id": "con-build-attrs",
      "name": "Code: Build update attributes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        48
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "title",
              "value": "={{ $json.finalTitle }}"
            },
            {
              "id": "company",
              "value": "={{ $json.finalCompany }}"
            },
            {
              "id": "streetAddress",
              "value": "={{ $json.finalStreetAddress }}"
            },
            {
              "id": "l",
              "value": "={{ $json.finalL }}"
            },
            {
              "id": "st",
              "value": "={{ $json.finalSt }}"
            },
            {
              "id": "postalCode",
              "value": "={{ $json.finalPostalCode }}"
            },
            {
              "id": "telephoneNumber",
              "value": "={{ $json.finalTelephoneNumber }}"
            },
            {
              "id": "mail",
              "value": "={{ $json.finalMail }}"
            }
          ]
        }
      },
      "id": "con-update-attrs",
      "name": "LDAP: Update attributes",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        352,
        48
      ],
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "has-replace",
              "leftValue": "={{ $('Code: Build update attributes').first().json.optionalReplace.length }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          }
        },
        "options": {}
      },
      "id": "con-if-optional",
      "name": "IF: Has optional fields?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        48
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "disabled-check",
              "leftValue": "={{ $('Code: Route - exists or new').first().json.isEnabled }}",
              "operator": {
                "operation": "false",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "con-if-disabled",
      "name": "IF: Account disabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        192
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "userAccountControl",
              "value": "512"
            }
          ]
        }
      },
      "id": "con-reenable",
      "name": "LDAP: Re-enable account",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        1040,
        -16
      ],
      "credentials": {
        "ldap": {
          "id": "yhqL5nK5LwLUDozV",
          "name": "LDAP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const adAttrs = $('Code: Build AD user attributes').first().json;\nconst plainPassword = `MGAtemp${new Date().getFullYear()}`;\nfunction encodePassword(password) {\n  let encoded = '';\n  const quoted = '\"' + password + '\"';\n  for (let i = 0; i < quoted.length; i++) {\n    encoded += String.fromCharCode(quoted.charCodeAt(i) & 0xFF, (quoted.charCodeAt(i) >>> 8) & 0xFF);\n  }\n  return encoded;\n}\nreturn [{ json: { ...adAttrs, unicodePwd: encodePassword(plainPassword) } }];"
      },
      "id": "con-gen-pwd",
      "name": "Code: Generate password (existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "unicodePwd",
              "value": "={{ $json.unicodePwd }}"
            },
            {
              "id": "userAccountControl",
              "value": "512"
            },
            {
              "id": "pwdLastSet",
              "value": "0"
            }
          ]
        }
      },
      "id": "con-set-pwd",
      "name": "LDAP: Set password (existing)",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        1440,
        208
      ],
      "credentials": {
        "ldap": {
          "id": "yhqL5nK5LwLUDozV",
          "name": "LDAP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ $('Code: Build AD user attributes').first().json.updatedHtml }}"
      },
      "id": "con-form-done",
      "name": "Form: User Provisioned",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1632,
        208
      ],
      "webhookId": "2610ab7f-2dc4-4885-99e1-74aaa1572e0b"
    },
    {
      "id": "opt-set-001",
      "name": "LDAP: Set optional attributes",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        800,
        -80
      ],
      "parameters": {
        "attributes": {
          "replace": [
            {
              "id": "pager",
              "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'pager')?.value }}"
            },
            {
              "id": "ipPhone",
              "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'ipPhone')?.value }}"
            },
            {
              "id": "info",
              "value": "={{ $('Code: Build update attributes').first().json.optionalReplace.find(f => f.id === 'info')?.value }}"
            }
          ]
        },
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "operation": "update"
      },
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "opt-del-001",
      "name": "LDAP: Clear optional attributes",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        800,
        80
      ],
      "parameters": {
        "attributes": {
          "delete": [
            {
              "id": "pager"
            },
            {
              "id": "ipPhone"
            },
            {
              "id": "info"
            }
          ]
        },
        "dn": "={{ $('Code: Build AD user attributes').first().json.dn }}",
        "operation": "update"
      },
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-01T14:44:32.437Z",
      "createdAt": "2026-07-01T14:44:32.437Z",
      "role": "workflow:owner",
      "workflowId": "qG72wXHcuGFT3JS4",
      "projectId": "RmOilgTSaNq34WG7"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-02T04:00:37.129Z",
  "versionId": "21d74a7d-03f4-4a5f-a6d5-e0701475d21e"
}