workflows/2026/07/uMGskDBRZZJea6ET.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-07T01:06:10.370Z",
    "createdAt": "2026-07-07T01:06:10.370Z",
    "versionId": "487291cb-3828-40d2-8c81-2005120d12e5",
    "workflowId": "uMGskDBRZZJea6ET",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "7fe126b7-aa67-44c6-80c9-a342df3acf1a",
        "name": "Schedule Trigger",
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3
      },
      {
        "parameters": {},
        "id": "125692f2-079b-46be-ad6d-605efb8ae0d4",
        "name": "Execute Workflow Trigger",
        "position": [
          0,
          160
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "baseDN": "DC=MGA,DC=com",
          "searchFor": "custom",
          "customFilter": "(objectClass=user)",
          "returnAll": true,
          "options": {
            "attributes": [
              "company",
              "streetAddress",
              "l",
              "st",
              "postalCode",
              "telephoneNumber",
              "title"
            ]
          }
        },
        "id": "13e7ed29-90da-4a6e-9c2c-24cbc11b5c5f",
        "name": "LDAP: Get AD user reference data",
        "position": [
          224,
          0
        ],
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "qG72wXHcuGFT3JS4",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "id": "7f6e639b-c37a-4848-b23b-b9f0540aeeae",
        "name": "Get target form workflow",
        "position": [
          224,
          160
        ],
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "WLYCxZ8jYBPRh98U",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const seen = new Set();\nconst officeOptions = [];\nconst jobTitles = [];\n\nfor (const item of $input.all()) {\n  const company  = String(item.json.company          ?? '').trim();\n  const street   = String(item.json.streetAddress    ?? '').trim();\n  const city     = String(item.json.l                ?? '').trim();\n  const state    = String(item.json.st               ?? '').trim();\n  const zip      = String(item.json.postalCode       ?? '').trim();\n  const phone    = String(item.json.telephoneNumber  ?? '').trim();\n  const title    = String(item.json.title            ?? '').trim();\n\n  if (company && city && phone) {\n    const key = `${company}~~${city}~~${phone}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      const option = `${company} — ${city} ~~ ${street} ~~ ${city} ~~ ${state} ~~ ${zip} ~~ ${phone}`;\n      officeOptions.push({ company, city, option });\n    }\n  }\n\n  if (title) jobTitles.push(title);\n}\n\nofficeOptions.sort((a, b) => {\n  const cmp = a.company.localeCompare(b.company);\n  return cmp !== 0 ? cmp : a.city.localeCompare(b.city);\n});\n\nconst uniqueJobTitles = [...new Set(jobTitles)]\n  .sort((a, b) => a.localeCompare(b))\n  .map(t => ({ option: t }));\n\nif (officeOptions.length === 0) throw new Error('No office location options built.');\nif (uniqueJobTitles.length === 0) throw new Error('No job title options built.');\n\nreturn [{\n  json: {\n    dropdownOptions: {\n      officeLocation: officeOptions.map(o => ({ option: o.option })),\n      jobTitle: uniqueJobTitles\n    }\n  }\n}];"
        },
        "id": "eb04673d-40de-474c-8c38-7e8accbac824",
        "name": "Code: Build all dropdown option lists",
        "position": [
          448,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "id": "d11545e8-fb25-4173-b125-c5d8082b0ca7",
        "name": "Merge",
        "position": [
          672,
          80
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst optionsItem = items.find(item => item.json.dropdownOptions && item.json.dropdownOptions.jobTitle);\nconst groupsItem = items.find(item => item.json.dropdownOptions && item.json.dropdownOptions.groups);\nconst workflowItem = items.find(item => Array.isArray(item.json.nodes));\n\nif (!optionsItem) throw new Error('Could not find dropdownOptions input.');\nif (!groupsItem) throw new Error('Could not find groups dropdownOptions input.');\nif (!workflowItem) throw new Error('Could not find workflow JSON input.');\n\nconst dropdownOptions = optionsItem.json.dropdownOptions;\nconst groupOptions = groupsItem.json.dropdownOptions.groups;\nconst workflow = workflowItem.json;\n\nconst formTriggerNode = workflow.nodes.find(node =>\n  node.type === 'n8n-nodes-base.formTrigger' ||\n  String(node.type || '').includes('formTrigger')\n);\n\nif (!formTriggerNode) throw new Error('Could not find Form Trigger node in target workflow.');\n\nformTriggerNode.parameters.formFields = {\n  values: [\n    { fieldLabel: 'First Name', requiredField: true },\n    { fieldLabel: 'Last Name', requiredField: true },\n    {\n      fieldLabel: 'Job Title',\n      fieldType: 'dropdown',\n      fieldOptions: { values: dropdownOptions.jobTitle },\n      requiredField: true\n    },\n    {\n      fieldLabel: 'Studio',\n      fieldType: 'dropdown',\n      fieldOptions: { values: dropdownOptions.officeLocation },\n      requiredField: true\n    },\n    {\n      fieldLabel: 'Groups',\n      fieldType: 'checkbox',\n      fieldOptions: { values: groupOptions }\n    },\n    { fieldLabel: 'EMP ID' },\n    { fieldLabel: 'Phone Extension' },\n    { fieldLabel: 'Credentials' }\n  ]\n};\n\nconst workflowObject = {\n  name: workflow.name,\n  nodes: workflow.nodes,\n  connections: workflow.connections || {},\n  settings: {}\n};\n\nreturn [{\n  json: {\n    workflowId: workflow.id,\n    workflowObjectJson: JSON.stringify(workflowObject)\n  }\n}];"
        },
        "id": "4f41c49c-78a0-4aba-8711-6b9cd9be1f8a",
        "name": "Code: Update all form dropdowns",
        "position": [
          880,
          80
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=http://192.168.84.6:5678/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "n8nApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.workflowObjectJson }}",
          "options": {}
        },
        "id": "f56798b0-4a4d-48c3-bb2a-d74a1dce2d41",
        "name": "HTTP Request: Update workflow through n8n API",
        "position": [
          1104,
          80
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "credentials": {
          "n8nApi": {
            "id": "WLYCxZ8jYBPRh98U",
            "name": "n8n account"
          }
        }
      },
      {
        "id": "b2c3d4e5-3333-4ccc-9999-000000000001",
        "name": "LDAP: Get AD security groups",
        "type": "n8n-nodes-base.ldap",
        "typeVersion": 1,
        "position": [
          224,
          320
        ],
        "parameters": {
          "baseDN": "OU=Security Groups,DC=MGA,DC=com",
          "searchFor": "custom",
          "customFilter": "(objectClass=group)",
          "returnAll": true,
          "options": {
            "attributes": [
              "cn"
            ]
          }
        },
        "credentials": {
          "ldap": {
            "id": "GTn2ld6OAhRI8O00",
            "name": "LDAP account"
          }
        }
      },
      {
        "id": "b2c3d4e5-3333-4ccc-9999-000000000002",
        "name": "Code: Build groups dropdown list",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          320
        ],
        "parameters": {
          "jsCode": "const groupNames = $input.all().map(item => String(item.json.cn ?? '').trim()).filter(Boolean);\nconst uniqueSorted = [...new Set(groupNames)].sort((a, b) => a.localeCompare(b)).map(g => ({ option: g }));\n\nif (uniqueSorted.length === 0) throw new Error('No group options built.');\n\nreturn [{ json: { dropdownOptions: { groups: uniqueSorted } } }];"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "LDAP: Get AD user reference data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get target form workflow",
              "type": "main",
              "index": 0
            },
            {
              "node": "LDAP: Get AD security groups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "LDAP: Get AD user reference data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get target form workflow",
              "type": "main",
              "index": 0
            },
            {
              "node": "LDAP: Get AD security groups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Get AD user reference data": {
        "main": [
          [
            {
              "node": "Code: Build all dropdown option lists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get target form workflow": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code: Build all dropdown option lists": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code: Update all form dropdowns",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Update all form dropdowns": {
        "main": [
          [
            {
              "node": "HTTP Request: Update workflow through n8n API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LDAP: Get AD security groups": {
        "main": [
          [
            {
              "node": "Code: Build groups dropdown list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build groups dropdown list": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "IT Admin",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "487291cb-3828-40d2-8c81-2005120d12e5",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "LDAP: Get AD user reference data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get target form workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "LDAP: Get AD security groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "LDAP: Get AD user reference data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get target form workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "LDAP: Get AD security groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Get AD user reference data": {
      "main": [
        [
          {
            "node": "Code: Build all dropdown option lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get target form workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code: Build all dropdown option lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code: Update all form dropdowns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Update all form dropdowns": {
      "main": [
        [
          {
            "node": "HTTP Request: Update workflow through n8n API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LDAP: Get AD security groups": {
      "main": [
        [
          {
            "node": "Code: Build groups dropdown list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build groups dropdown list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-01T14:44:21.437Z",
  "id": "uMGskDBRZZJea6ET",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AD User Provisioning Form Values Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "7fe126b7-aa67-44c6-80c9-a342df3acf1a",
      "name": "Schedule Trigger",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "125692f2-079b-46be-ad6d-605efb8ae0d4",
      "name": "Execute Workflow Trigger",
      "position": [
        0,
        160
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "baseDN": "DC=MGA,DC=com",
        "searchFor": "custom",
        "customFilter": "(objectClass=user)",
        "returnAll": true,
        "options": {
          "attributes": [
            "company",
            "streetAddress",
            "l",
            "st",
            "postalCode",
            "telephoneNumber",
            "title"
          ]
        }
      },
      "id": "13e7ed29-90da-4a6e-9c2c-24cbc11b5c5f",
      "name": "LDAP: Get AD user reference data",
      "position": [
        224,
        0
      ],
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "qG72wXHcuGFT3JS4",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "7f6e639b-c37a-4848-b23b-b9f0540aeeae",
      "name": "Get target form workflow",
      "position": [
        224,
        160
      ],
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "WLYCxZ8jYBPRh98U",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst officeOptions = [];\nconst jobTitles = [];\n\nfor (const item of $input.all()) {\n  const company  = String(item.json.company          ?? '').trim();\n  const street   = String(item.json.streetAddress    ?? '').trim();\n  const city     = String(item.json.l                ?? '').trim();\n  const state    = String(item.json.st               ?? '').trim();\n  const zip      = String(item.json.postalCode       ?? '').trim();\n  const phone    = String(item.json.telephoneNumber  ?? '').trim();\n  const title    = String(item.json.title            ?? '').trim();\n\n  if (company && city && phone) {\n    const key = `${company}~~${city}~~${phone}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      const option = `${company} — ${city} ~~ ${street} ~~ ${city} ~~ ${state} ~~ ${zip} ~~ ${phone}`;\n      officeOptions.push({ company, city, option });\n    }\n  }\n\n  if (title) jobTitles.push(title);\n}\n\nofficeOptions.sort((a, b) => {\n  const cmp = a.company.localeCompare(b.company);\n  return cmp !== 0 ? cmp : a.city.localeCompare(b.city);\n});\n\nconst uniqueJobTitles = [...new Set(jobTitles)]\n  .sort((a, b) => a.localeCompare(b))\n  .map(t => ({ option: t }));\n\nif (officeOptions.length === 0) throw new Error('No office location options built.');\nif (uniqueJobTitles.length === 0) throw new Error('No job title options built.');\n\nreturn [{\n  json: {\n    dropdownOptions: {\n      officeLocation: officeOptions.map(o => ({ option: o.option })),\n      jobTitle: uniqueJobTitles\n    }\n  }\n}];"
      },
      "id": "eb04673d-40de-474c-8c38-7e8accbac824",
      "name": "Code: Build all dropdown option lists",
      "position": [
        448,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "d11545e8-fb25-4173-b125-c5d8082b0ca7",
      "name": "Merge",
      "position": [
        672,
        80
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst optionsItem = items.find(item => item.json.dropdownOptions && item.json.dropdownOptions.jobTitle);\nconst groupsItem = items.find(item => item.json.dropdownOptions && item.json.dropdownOptions.groups);\nconst workflowItem = items.find(item => Array.isArray(item.json.nodes));\n\nif (!optionsItem) throw new Error('Could not find dropdownOptions input.');\nif (!groupsItem) throw new Error('Could not find groups dropdownOptions input.');\nif (!workflowItem) throw new Error('Could not find workflow JSON input.');\n\nconst dropdownOptions = optionsItem.json.dropdownOptions;\nconst groupOptions = groupsItem.json.dropdownOptions.groups;\nconst workflow = workflowItem.json;\n\nconst formTriggerNode = workflow.nodes.find(node =>\n  node.type === 'n8n-nodes-base.formTrigger' ||\n  String(node.type || '').includes('formTrigger')\n);\n\nif (!formTriggerNode) throw new Error('Could not find Form Trigger node in target workflow.');\n\nformTriggerNode.parameters.formFields = {\n  values: [\n    { fieldLabel: 'First Name', requiredField: true },\n    { fieldLabel: 'Last Name', requiredField: true },\n    {\n      fieldLabel: 'Job Title',\n      fieldType: 'dropdown',\n      fieldOptions: { values: dropdownOptions.jobTitle },\n      requiredField: true\n    },\n    {\n      fieldLabel: 'Studio',\n      fieldType: 'dropdown',\n      fieldOptions: { values: dropdownOptions.officeLocation },\n      requiredField: true\n    },\n    {\n      fieldLabel: 'Groups',\n      fieldType: 'checkbox',\n      fieldOptions: { values: groupOptions }\n    },\n    { fieldLabel: 'EMP ID' },\n    { fieldLabel: 'Phone Extension' },\n    { fieldLabel: 'Credentials' }\n  ]\n};\n\nconst workflowObject = {\n  name: workflow.name,\n  nodes: workflow.nodes,\n  connections: workflow.connections || {},\n  settings: {}\n};\n\nreturn [{\n  json: {\n    workflowId: workflow.id,\n    workflowObjectJson: JSON.stringify(workflowObject)\n  }\n}];"
      },
      "id": "4f41c49c-78a0-4aba-8711-6b9cd9be1f8a",
      "name": "Code: Update all form dropdowns",
      "position": [
        880,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://192.168.84.6:5678/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.workflowObjectJson }}",
        "options": {}
      },
      "id": "f56798b0-4a4d-48c3-bb2a-d74a1dce2d41",
      "name": "HTTP Request: Update workflow through n8n API",
      "position": [
        1104,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "credentials": {
        "n8nApi": {
          "id": "WLYCxZ8jYBPRh98U",
          "name": "n8n account"
        }
      }
    },
    {
      "id": "b2c3d4e5-3333-4ccc-9999-000000000001",
      "name": "LDAP: Get AD security groups",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        224,
        320
      ],
      "parameters": {
        "baseDN": "OU=Security Groups,DC=MGA,DC=com",
        "searchFor": "custom",
        "customFilter": "(objectClass=group)",
        "returnAll": true,
        "options": {
          "attributes": [
            "cn"
          ]
        }
      },
      "credentials": {
        "ldap": {
          "id": "GTn2ld6OAhRI8O00",
          "name": "LDAP account"
        }
      }
    },
    {
      "id": "b2c3d4e5-3333-4ccc-9999-000000000002",
      "name": "Code: Build groups dropdown list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        320
      ],
      "parameters": {
        "jsCode": "const groupNames = $input.all().map(item => String(item.json.cn ?? '').trim()).filter(Boolean);\nconst uniqueSorted = [...new Set(groupNames)].sort((a, b) => a.localeCompare(b)).map(g => ({ option: g }));\n\nif (uniqueSorted.length === 0) throw new Error('No group options built.');\n\nreturn [{ json: { dropdownOptions: { groups: uniqueSorted } } }];"
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-01T14:44:21.437Z",
      "createdAt": "2026-07-01T14:44:21.437Z",
      "role": "workflow:owner",
      "workflowId": "uMGskDBRZZJea6ET",
      "projectId": "RmOilgTSaNq34WG7"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-07T01:06:10.375Z",
  "versionId": "487291cb-3828-40d2-8c81-2005120d12e5"
}