workflows/2026/06/BVOisadHaXZbzlNz.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-01T12:33:05.000Z",
    "createdAt": "2026-06-30T22:58:48.849Z",
    "versionId": "d87f34dd-ddc9-4621-a54b-e4ba7bbb53ee",
    "workflowId": "BVOisadHaXZbzlNz",
    "nodes": [
      {
        "parameters": {},
        "id": "521fb45a-f265-4c9a-93f3-9d362295e0fd",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          176,
          592
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 732,
          "width": 2199,
          "color": 6
        },
        "id": "1377677d-246f-48ac-ae96-59d7d42cbbad",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -16,
          1040
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "e6bc9271-20af-4aed-9720-bd94edf60c58",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          32,
          1312
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "ad4840a0-54dc-41cc-9ad7-c74109907cd6",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          368,
          688
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "WLYCxZ8jYBPRh98U",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "a20ef348-53d8-4163-923f-5e8af58df891",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          2000,
          1280
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "ab50751d-1da3-4bbb-a7cb-1f84ce8aba35",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          736,
          1152
        ],
        "typeVersion": 4.4
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "2bd2b088-dfb9-4d7d-a2ab-9bc283a2f898",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          528,
          1312
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "26917981-fd94-4e67-8735-2cfd59248d45",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          912,
          1344
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\nconst inputJson = $input.item.json;\nconst keys = Object.keys(inputJson);\n\n// Check if file returned with content\nif (keys.includes(\"content\")) {\n  const origWorkflow = JSON.parse(Buffer.from(inputJson.content, 'base64').toString());\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else if (keys.includes(\"data\")) {\n  const origWorkflow = JSON.parse(inputJson.data);\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else {\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = null;\n  inputJson.github_status = \"new\";\n  inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\nreturn { json: inputJson };"
        },
        "id": "7af85849-4ad1-4c3d-a2ea-7f196f64870a",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          1088,
          1344
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "24270e52-9dc1-4d27-b8a1-d9ec76533a22",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1440,
          1312
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "d0566e9f-4b90-4acb-b2a5-c932a9708aa0",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1648,
          1152
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "fec6d652-4892-4a36-880e-44ea60465a23",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1648,
          1328
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "5b39d41a-2ee0-4685-a3c2-3c838932013e",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1648,
          1520
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "cachedResultName": "={{ $('Config').first().json.repo_name }}",
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_name }}"
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "49f8b247-12c3-480a-b3a3-906c6ac36bf0",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1840,
          1520
        ],
        "typeVersion": 1.1,
        "webhookId": "6d00f1bc-b78a-4b4a-8b26-44c71c643747",
        "credentials": {
          "githubApi": {
            "id": "qufUYaq6vJplGzw0",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "cachedResultName": "={{ $('Config').first().json.repo_name }}",
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_name }}"
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "b3d989ac-aa57-4d6d-a85c-90a2a9e4f99d",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1840,
          1328
        ],
        "typeVersion": 1.1,
        "webhookId": "c165ac57-3fc5-4c3d-aa6a-9ecf6d006823",
        "credentials": {
          "githubApi": {
            "id": "qufUYaq6vJplGzw0",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "f88654e7-1d40-47dc-b774-7055b164af53",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          736,
          688
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 1,
                "triggerAtMinute": 33
              }
            ]
          }
        },
        "id": "fef72bc7-e5a7-49e9-830f-9a4ff4168be5",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          176,
          800
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
                "name": "subPath",
                "type": "string",
                "value": "={{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[0] }}/{{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[1] }}/"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "7fe2ce35-8cee-4781-84c8-441c649260dd",
        "name": "Create sub path",
        "type": "n8n-nodes-base.set",
        "position": [
          1264,
          1344
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
          "height": 449,
          "width": 385,
          "color": 4
        },
        "id": "57724d0c-0a0c-47f1-96f6-1ce897559869",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 448,
          "width": 2201,
          "color": 7
        },
        "id": "4454e62e-34c8-47d1-a9fe-d07719d8d52b",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -16,
          512
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowId": "={{ $workflow.id }}",
          "mode": "each",
          "options": {}
        },
        "id": "b6534feb-a0e3-4605-92fa-5517dba8244c",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          1104,
          752
        ],
        "typeVersion": 1,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://default90513a2c7a3648c78b80f20fcc7953.74.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b5295696fb454c19bdc47ad0b48e690e/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YbfKLVs-S6BVLykG6mSTseA63Zc9mHFMVoTBfOxxac8",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.cardJson }}",
          "options": {}
        },
        "id": "f9752997-7e2f-45ee-b514-2e63b32c96b4",
        "name": "Completed Notification",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2016,
          320
        ],
        "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
        "executeOnce": true,
        "typeVersion": 4.4,
        "disabled": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Accumulate failed workflow names across loop iterations using staticData\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.failedFlows)) {\n  staticData.failedFlows = [];\n}\n\nconst failedId   = $('Loop Over Items').item.json.id   ?? 'Unknown ID';\nconst failedName = $('Loop Over Items').item.json.name ?? 'Unknown Workflow';\nstaticData.failedFlows.push(`${failedName} (${failedId})`);\n\nreturn [{ json: { failedId, failedName } }];"
        },
        "id": "f6eeb392-cbdc-41ce-8c99-7f4dc645ab5d",
        "name": "Failed Flows",
        "type": "n8n-nodes-base.code",
        "position": [
          1296,
          768
        ],
        "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_owner }}",
            "cachedResultName": "={{ $('Config').first().json.repo_owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "expression",
            "value": "={{ $('Config').first().json.repo_name }}",
            "cachedResultName": "={{ $('Config').first().json.repo_name }}"
          },
          "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "59f5ae50-95ec-4c6d-9e5d-fbb8680eb8a5",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          352,
          1312
        ],
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "webhookId": "d45437a9-98a5-4c98-91ac-52f6cc813726",
        "credentials": {
          "githubApi": {
            "id": "qufUYaq6vJplGzw0",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
                "name": "repo_owner",
                "type": "string",
                "value": "jcfrazier6"
              },
              {
                "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
                "name": "repo_name",
                "type": "string",
                "value": "n8n-backups"
              },
              {
                "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
                "name": "repo_path",
                "type": "string",
                "value": "workflows/"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "6456cf27-daf5-4b70-9b57-15dbf04a9ff4",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          192,
          1312
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "not-archived",
                "leftValue": "={{ $json.isArchived }}",
                "operator": {
                  "operation": "false",
                  "singleValue": true,
                  "type": "boolean"
                }
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            }
          },
          "options": {}
        },
        "id": "c269d811-1960-4ea5-81fb-cdb62a183bf2",
        "name": "Filter: Exclude archived",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          528,
          688
        ]
      },
      {
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst totalCount = $('Filter: Exclude archived').all().length;\nconst failed = Array.isArray(staticData.failedFlows) ? staticData.failedFlows : [];\nconst dateStr = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n// Build Adaptive Card for Teams\nconst bodyBlocks = [\n  {\n    type: 'TextBlock',\n    text: `✅ Backup completed — ${totalCount} workflows processed.`,\n    wrap: true,\n    size: 'Medium',\n    weight: 'Bolder',\n    color: 'Good'\n  }\n];\n\nif (failed.length > 0) {\n  bodyBlocks.push({ type: 'TextBlock', text: `❌ Failed (${failed.length}):`, wrap: true, weight: 'Bolder', color: 'Attention' });\n  bodyBlocks.push({ type: 'TextBlock', text: failed.join('\\n'), wrap: true, color: 'Attention' });\n}\n\nconst card = {\n  type: 'AdaptiveCard',\n  '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json',\n  version: '1.4',\n  body: bodyBlocks\n};\n\n// Build HTML email body\nconst statusColor = failed.length > 0 ? '#c0392b' : '#27ae60';\nconst statusIcon  = failed.length > 0 ? '⚠️' : '✅';\nconst statusText  = failed.length > 0\n  ? `Completed with ${failed.length} failure${failed.length > 1 ? 's' : ''}`\n  : 'Completed successfully';\n\nlet failureRows = '';\nif (failed.length > 0) {\n  failureRows = `\n    <tr>\n      <td colspan=\"2\" style=\"padding:16px 24px 4px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">❌ Failed Workflows</td>\n    </tr>\n    ${failed.map(f => `\n    <tr>\n      <td colspan=\"2\" style=\"padding:2px 24px 2px 36px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">• ${f}</td>\n    </tr>`).join('')}\n  `;\n}\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,0.08);overflow:hidden;\">\n          <tr>\n            <td colspan=\"2\" style=\"background:${statusColor};padding:20px 24px;\">\n              <span style=\"font-family:Arial,sans-serif;font-size:18px;font-weight:bold;color:#ffffff;\">${statusIcon} n8n Workflow Backup</span>\n            </td>\n          </tr>\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px 8px;font-family:Arial,sans-serif;font-size:12px;color:#888;border-bottom:1px solid #eeeeee;\">${dateStr}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;width:50%;\">Status</td>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:${statusColor};\">${statusText}</td>\n          </tr>\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Workflows processed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#333;\">${totalCount}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Successful</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#27ae60;\">${totalCount - failed.length}</td>\n          </tr>\n          ${failed.length > 0 ? `\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Failed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">${failed.length}</td>\n          </tr>` : ''}\n          ${failureRows}\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px;background:#f4f4f4;font-family:Arial,sans-serif;font-size:11px;color:#aaa;border-top:1px solid #eeeeee;\">Sent by n8n Workflow Backup · Automated message</td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nstaticData.failedFlows = [];\n\nreturn [{ json: { cardJson: JSON.stringify(card), htmlBody, dateStr, totalCount, failedCount: failed.length } }];"
        },
        "id": "fc517dcd-8285-40cf-83a0-0d448b937e40",
        "name": "Build: Completion message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          576
        ]
      },
      {
        "parameters": {
          "fromEmail": "itadmin@michaelgraves.com",
          "toEmail": "cfrazier@michaelgraves.com",
          "subject": "=n8n Workflow Backup — {{ $json.dateStr }}",
          "html": "={{ $json.htmlBody }}",
          "options": {}
        },
        "id": "7bcb2155-0b46-4b82-848b-aa662557326d",
        "name": "Send an Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1280,
          576
        ],
        "webhookId": "aeaddb8c-d63c-4223-9a55-32dc16a01536",
        "credentials": {
          "smtp": {
            "id": "zyzvCLXpv9nbOFvh",
            "name": "SMTP account"
          }
        }
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Filter: Exclude archived",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Create sub path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Failed Flows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create sub path": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Build: Completion message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Failed Flows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: Exclude archived": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build: Completion message": {
        "main": [
          [
            {
              "node": "Send an Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "IT Admin",
    "name": "Version d87f34dd",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "d87f34dd-ddc9-4621-a54b-e4ba7bbb53ee",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter: Exclude archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Build: Completion message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Exclude archived": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Completion message": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-30T22:47:58.789Z",
  "id": "BVOisadHaXZbzlNz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "521fb45a-f265-4c9a-93f3-9d362295e0fd",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        176,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 732,
        "width": 2199,
        "color": 6
      },
      "id": "1377677d-246f-48ac-ae96-59d7d42cbbad",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "e6bc9271-20af-4aed-9720-bd94edf60c58",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        32,
        1312
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ad4840a0-54dc-41cc-9ad7-c74109907cd6",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        368,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "WLYCxZ8jYBPRh98U",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "a20ef348-53d8-4163-923f-5e8af58df891",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        1280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "ab50751d-1da3-4bbb-a7cb-1f84ce8aba35",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        1152
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2bd2b088-dfb9-4d7d-a2ab-9bc283a2f898",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        1312
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "26917981-fd94-4e67-8735-2cfd59248d45",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        912,
        1344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\nconst inputJson = $input.item.json;\nconst keys = Object.keys(inputJson);\n\n// Check if file returned with content\nif (keys.includes(\"content\")) {\n  const origWorkflow = JSON.parse(Buffer.from(inputJson.content, 'base64').toString());\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else if (keys.includes(\"data\")) {\n  const origWorkflow = JSON.parse(inputJson.data);\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = inputJson.sha;\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    inputJson.github_status = \"same\";\n  } else {\n    inputJson.github_status = \"different\";\n    inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  inputJson.content_decoded = orderedOriginal;\n\n} else {\n  const n8nWorkflow = $('Execute Workflow Trigger').first().json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  inputJson.file_sha = null;\n  inputJson.github_status = \"new\";\n  inputJson.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\nreturn { json: inputJson };"
      },
      "id": "7af85849-4ad1-4c3d-a2ea-7f196f64870a",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1088,
        1344
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "24270e52-9dc1-4d27-b8a1-d9ec76533a22",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1440,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d0566e9f-4b90-4acb-b2a5-c932a9708aa0",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fec6d652-4892-4a36-880e-44ea60465a23",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1328
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5b39d41a-2ee0-4685-a3c2-3c838932013e",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1648,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_name }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "49f8b247-12c3-480a-b3a3-906c6ac36bf0",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        1520
      ],
      "typeVersion": 1.1,
      "webhookId": "6d00f1bc-b78a-4b4a-8b26-44c71c643747",
      "credentials": {
        "githubApi": {
          "id": "qufUYaq6vJplGzw0",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "cachedResultName": "={{ $('Config').first().json.repo_name }}",
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "b3d989ac-aa57-4d6d-a85c-90a2a9e4f99d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        1328
      ],
      "typeVersion": 1.1,
      "webhookId": "c165ac57-3fc5-4c3d-aa6a-9ecf6d006823",
      "credentials": {
        "githubApi": {
          "id": "qufUYaq6vJplGzw0",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f88654e7-1d40-47dc-b774-7055b164af53",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        736,
        688
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "fef72bc7-e5a7-49e9-830f-9a4ff4168be5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        176,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[0] }}/{{ ($('Execute Workflow Trigger').first().json.createdAt ?? '').split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7fe2ce35-8cee-4781-84c8-441c649260dd",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        1264,
        1344
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 449,
        "width": 385,
        "color": 4
      },
      "id": "57724d0c-0a0c-47f1-96f6-1ce897559869",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 448,
        "width": 2201,
        "color": 7
      },
      "id": "4454e62e-34c8-47d1-a9fe-d07719d8d52b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "b6534feb-a0e3-4605-92fa-5517dba8244c",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1104,
        752
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default90513a2c7a3648c78b80f20fcc7953.74.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/b5295696fb454c19bdc47ad0b48e690e/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YbfKLVs-S6BVLykG6mSTseA63Zc9mHFMVoTBfOxxac8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cardJson }}",
        "options": {}
      },
      "id": "f9752997-7e2f-45ee-b514-2e63b32c96b4",
      "name": "Completed Notification",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        320
      ],
      "webhookId": "a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4",
      "executeOnce": true,
      "typeVersion": 4.4,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Accumulate failed workflow names across loop iterations using staticData\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.failedFlows)) {\n  staticData.failedFlows = [];\n}\n\nconst failedId   = $('Loop Over Items').item.json.id   ?? 'Unknown ID';\nconst failedName = $('Loop Over Items').item.json.name ?? 'Unknown Workflow';\nstaticData.failedFlows.push(`${failedName} (${failedId})`);\n\nreturn [{ json: { failedId, failedName } }];"
      },
      "id": "f6eeb392-cbdc-41ce-8c99-7f4dc645ab5d",
      "name": "Failed Flows",
      "type": "n8n-nodes-base.code",
      "position": [
        1296,
        768
      ],
      "webhookId": "2a092edb-de12-490f-931b-34d70e7d7696",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_owner }}",
          "cachedResultName": "={{ $('Config').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Config').first().json.repo_name }}",
          "cachedResultName": "={{ $('Config').first().json.repo_name }}"
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "59f5ae50-95ec-4c6d-9e5d-fbb8680eb8a5",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        352,
        1312
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "webhookId": "d45437a9-98a5-4c98-91ac-52f6cc813726",
      "credentials": {
        "githubApi": {
          "id": "qufUYaq6vJplGzw0",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "jcfrazier6"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-backups"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "workflows/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6456cf27-daf5-4b70-9b57-15dbf04a9ff4",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        192,
        1312
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "not-archived",
              "leftValue": "={{ $json.isArchived }}",
              "operator": {
                "operation": "false",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c269d811-1960-4ea5-81fb-cdb62a183bf2",
      "name": "Filter: Exclude archived",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        528,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst totalCount = $('Filter: Exclude archived').all().length;\nconst failed = Array.isArray(staticData.failedFlows) ? staticData.failedFlows : [];\nconst dateStr = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n// Build Adaptive Card for Teams\nconst bodyBlocks = [\n  {\n    type: 'TextBlock',\n    text: `✅ Backup completed — ${totalCount} workflows processed.`,\n    wrap: true,\n    size: 'Medium',\n    weight: 'Bolder',\n    color: 'Good'\n  }\n];\n\nif (failed.length > 0) {\n  bodyBlocks.push({ type: 'TextBlock', text: `❌ Failed (${failed.length}):`, wrap: true, weight: 'Bolder', color: 'Attention' });\n  bodyBlocks.push({ type: 'TextBlock', text: failed.join('\\n'), wrap: true, color: 'Attention' });\n}\n\nconst card = {\n  type: 'AdaptiveCard',\n  '$schema': 'http://adaptivecards.io/schemas/adaptive-card.json',\n  version: '1.4',\n  body: bodyBlocks\n};\n\n// Build HTML email body\nconst statusColor = failed.length > 0 ? '#c0392b' : '#27ae60';\nconst statusIcon  = failed.length > 0 ? '⚠️' : '✅';\nconst statusText  = failed.length > 0\n  ? `Completed with ${failed.length} failure${failed.length > 1 ? 's' : ''}`\n  : 'Completed successfully';\n\nlet failureRows = '';\nif (failed.length > 0) {\n  failureRows = `\n    <tr>\n      <td colspan=\"2\" style=\"padding:16px 24px 4px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">❌ Failed Workflows</td>\n    </tr>\n    ${failed.map(f => `\n    <tr>\n      <td colspan=\"2\" style=\"padding:2px 24px 2px 36px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">• ${f}</td>\n    </tr>`).join('')}\n  `;\n}\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f4f4f4;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;box-shadow:0 2px 8px rgba(0,0,0,0.08);overflow:hidden;\">\n          <tr>\n            <td colspan=\"2\" style=\"background:${statusColor};padding:20px 24px;\">\n              <span style=\"font-family:Arial,sans-serif;font-size:18px;font-weight:bold;color:#ffffff;\">${statusIcon} n8n Workflow Backup</span>\n            </td>\n          </tr>\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px 8px;font-family:Arial,sans-serif;font-size:12px;color:#888;border-bottom:1px solid #eeeeee;\">${dateStr}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;width:50%;\">Status</td>\n            <td style=\"padding:16px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:${statusColor};\">${statusText}</td>\n          </tr>\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Workflows processed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#333;\">${totalCount}</td>\n          </tr>\n          <tr>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Successful</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#27ae60;\">${totalCount - failed.length}</td>\n          </tr>\n          ${failed.length > 0 ? `\n          <tr style=\"background:#f9f9f9;\">\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;color:#555;\">Failed</td>\n            <td style=\"padding:12px 24px;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;color:#c0392b;\">${failed.length}</td>\n          </tr>` : ''}\n          ${failureRows}\n          <tr>\n            <td colspan=\"2\" style=\"padding:16px 24px;background:#f4f4f4;font-family:Arial,sans-serif;font-size:11px;color:#aaa;border-top:1px solid #eeeeee;\">Sent by n8n Workflow Backup · Automated message</td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nstaticData.failedFlows = [];\n\nreturn [{ json: { cardJson: JSON.stringify(card), htmlBody, dateStr, totalCount, failedCount: failed.length } }];"
      },
      "id": "fc517dcd-8285-40cf-83a0-0d448b937e40",
      "name": "Build: Completion message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        576
      ]
    },
    {
      "parameters": {
        "fromEmail": "itadmin@michaelgraves.com",
        "toEmail": "cfrazier@michaelgraves.com",
        "subject": "=n8n Workflow Backup — {{ $json.dateStr }}",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "7bcb2155-0b46-4b82-848b-aa662557326d",
      "name": "Send an Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1280,
        576
      ],
      "webhookId": "aeaddb8c-d63c-4223-9a55-32dc16a01536",
      "credentials": {
        "smtp": {
          "id": "zyzvCLXpv9nbOFvh",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-06-30T22:47:58.804Z",
      "createdAt": "2026-06-30T22:47:58.804Z",
      "role": "workflow:owner",
      "workflowId": "BVOisadHaXZbzlNz",
      "projectId": "RmOilgTSaNq34WG7"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-30T22:58:48.853Z",
  "versionId": "d87f34dd-ddc9-4621-a54b-e4ba7bbb53ee"
}